<template>
    <v-card>
        <v-card-title class="primary white--text">
            <v-icon>{{icon}}</v-icon>
            <h2 class="title ml-2">{{title}}</h2>
        </v-card-title>
        <v-card-text>
            <v-form ref="data" v-if="value">
                <v-text-field v-model="value.username" light prepend-icon='mdi-account' label="Nombre">
                </v-text-field>
                <v-text-field v-model='value.email' light prepend-icon='mdi-email' label="Correo electronico" type='email'>
                </v-text-field>
                <v-text-field v-model='value.password' :prepend-icon="show ? 'mdi-eye' : 'mdi-eye-off'" 
                    :type="show ? 'text' : 'password'" label="Contraseña" hint="At least 8 characters"
                    counter @click:prepend="show = !show">
                </v-text-field>
                <v-row>
                    <v-col cols="12" sm="4" md="4">
                        <v-switch  v-model="value.blocked" label="Bloqueado" color="red" hide-details>
                        </v-switch>
                    </v-col>
                </v-row>
            </v-form>
        </v-card-text>
        <v-card-actions>
            <v-btn color="error" @click="$emit('close')">
                <v-icon left>mdi-times</v-icon>
                Cerrar
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="save()">
                <v-icon left>mdi-save</v-icon>
                Guardar
            </v-btn>
        </v-card-actions>        
    </v-card>
</template>
<script>


export default ({
    name: 'EditUsuarios',
    props: ['icon', 'title', 'value'],
    data () {
        return {
            show: false
        }        
    },
    methods: {
        save () {
            this.$emit('save')
        },
        reset () {
            this.$refs['data'].reset()
        }
    }
})
</script>
