<template>
    <v-container>
        <v-card>
            <v-card-title class="primary white--text">
                <v-icon>mdi-plus</v-icon>
                <h1 class="title ml-2">Usuarios</h1>
            </v-card-title>
            <v-card-text>
                <v-row>
                    <v-col>
                        <v-btn color="primary" @click="showNew = true">
                            <v-icon left>mdi-plus</v-icon>
                            Agregar
                        </v-btn>
                    </v-col>
                </v-row>
                <v-simple-table>
                    <template v-slot:default>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Correo</th>
                                <th>Bloqueado</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in users" :key="item.id">
                                <td>{{item.id}}</td>
                                <td>{{item.username}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.blocked}}</td>
                                <td class="min-width-120">
                                    <v-btn text color="secondary" @click="editItem(item)">
                                        <v-icon>mdi-pencil</v-icon>
                                    </v-btn>
                                    <v-btn text color="error" @click="deleteItem(item.id)">
                                        <v-icon>mdi-delete</v-icon>
                                    </v-btn>
                                </td>
                            </tr>
                        </tbody>
                    </template>
                </v-simple-table>
            </v-card-text>
        </v-card>
        <!-- ------------------------------------------------------------------- -->
        <!-- New Usuario -->
        <!-- ------------------------------------------------------------------- -->
        <v-dialog v-model="showNew" max-width="500" transition="dialog-top-transition">
            <edit-usuarios title="Agregar Usuario" icon="mdi-plus" v-model="newUser"
                @close="showNew = false"
                ref="newUser"
                @save="saveUsuario()">>
            </edit-usuarios>
        </v-dialog>

        <!-- ------------------------------------------------------------------- -->
        <!-- Editar Usuario -->
        <!-- ------------------------------------------------------------------- -->
        <v-dialog v-model="showEdit" max-width="500" transition="dialog-top-transition">
            <edit-usuarios title="Editar Usuario" icon="mdi-account-edit-outline" v-model="editUser"
                @close="showEdit = false"
                ref="newUser"
                @save="updateUser()">
            </edit-usuarios>
        </v-dialog>

        <!-- ------------------------------------------------------------------- -->
    <!-- Loader -->
    <!-- ------------------------------------------------------------------- -->
    <loader v-model="loading"></loader>

        </v-container>
</template>
<script>
import Loader from '../Loader.vue'
import editUsuarios from './EditUsuarios.vue'
export default ({
    name: 'Users',
    data () {
        return {
            showNew: false,
            showEdit: false,
            users: [],
            newUser: {
                username: '',
                blocked: false,
                confirmed: true,
                password: '',
                email: "",
                provider: "local",
                role: {
                    id: 1
                }
            },
            editUser: null,
            loading: false
        }
    },
    components: {
        editUsuarios, Loader
    },
    methods: {
        getUsers () {
            this.$http.users
                .get('')
                .then(res => res.data)
                .then(res => {
                    this.users = res.map(i => {
                        return { 
                            id: i.id,
                            username: i.username,
                            email: i.email,
                            confirmed: i.confirmed,
                            blocked: i.blocked,
                            password: ""                            
                        }
                    })
                })
        },
        saveUsuario () {
            this.loading = true
            this.$http.users
                .post('', this.newUser)
                .then(() => {
                    this.$refs['newUser'].reset()
                    this.getUsers()
                    this.showNew = false
                    this.loading = false
                })
        },
        updateUser () {
            this.$http.users
                .put(`/${this.editUser.id}`, this.editUser)
                .then(() => {
                    this.getUsers()
                    this.showEdit = false
                })
        },
        editItem(user){
            this.editUser = user
            this.showEdit = true
        },
        deleteItem(id) {

        }
    },
    beforeMount (){
        

    },
    mounted (){
        this.getUsers();

    }
})
</script>
