<template>
    <v-app>
        <v-navigation-drawer
        v-model="drawer1"
        :color="color"
        :expand-on-hover="expandOnHover"
        :mini-variant="miniVariant"
        :right="right"
        :permanent="permanent"
        
        absolute
        dark
        app
        >
            <v-list dense nav class="py-0" >
                <v-list-item two-line :class="miniVariant && 'px-0'">
                <v-list-item-avatar>
                    <img src="https://randomuser.me/api/portraits/men/81.jpg">
                </v-list-item-avatar>

                <v-list-item-content>
                    <v-list-item-title>Application</v-list-item-title>
                    <v-list-item-subtitle>Subtext</v-list-item-subtitle>
                </v-list-item-content>
                </v-list-item>

                <v-divider></v-divider>

                <v-list-item v-for="item in items" :key="item.title" link :to="item.route">
                    <v-list-item-icon>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content >
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>
        <v-app-bar color="primary" dark hide-on-scroll app>
            <v-app-bar-nav-icon @click="actualizar()"></v-app-bar-nav-icon>
            <v-toolbar-title>CIAD</v-toolbar-title>
            <v-spacer></v-spacer>
            <router-link to="/login">
            <v-btn outlined color="white" icon>
                <v-icon>mdi-account</v-icon>
            </v-btn>
            </router-link> 
        </v-app-bar>
        <v-main>
            <router-view/>
        </v-main>
    </v-app>
</template>
<script>

export default ({
    name: 'Dashboard',
    data () {
        return {
            drawer1: true,
                items: [
            { title: 'Libros', icon: 'mdi-view-dashboard', route:'Books'},
            { title: 'Categorias', icon: 'mdi-clipboard-text-outline', route:'tematica' },
            { title: 'Descargas', icon: 'mdi-cloud-download', route: 'downloads' },
            { title: 'Usuarios', icon: 'mdi-account', route: 'usuarios'},
            ],
            color: 'primary',
            colors: [
            'primary',
            'blue',
            'success',
            'red',
            'teal',
            ],
            right: false,
            permanent: true,
            miniVariant: true,
            expandOnHover: true,
            background: true,
        }
    },
    methods: {
        actualizar () {
            this.drawer1 = !this.drawer1
        }
    },
    beforeMount () {
        const token = `Bearer ${sessionStorage.getItem('token')}`
        for (var service in this.$http) {
        const module = this.$http[service]
        module.defaults.headers.common['Authorization'] = token
        }
    },
})
</script>
