<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" app>
      <v-list nav dense>
        <v-list-item-group v-model="group" active-class="grey--text text--accent-4">
          <v-list-item link to="/ciad">
            <v-list-item-icon>
              <v-icon>mdi-home</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Inicio</v-list-item-title>
          </v-list-item>

          <v-list-item link to="/">
            <v-list-item-icon>
              <v-icon>mdi-arrow-left-bold</v-icon>
            </v-list-item-icon>
            <v-list-item-title>SER</v-list-item-title>
          </v-list-item>

          <v-list-item link to="/login">
            <v-list-item-icon>
              <v-icon>mdi-account</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Iniciar Sesión</v-list-item-title>
            
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    
    <v-app-bar color="primary" dark hide-on-scroll app >
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>CIAD</v-toolbar-title>
      <v-spacer></v-spacer>
      <router-link to="/login">
        <v-btn outlined color="white" icon>
          <v-icon>mdi-account</v-icon>
        </v-btn>
      </router-link>
      
    </v-app-bar>
   
    <v-main class="grey lighten-3">
      <v-card>
        <v-img src="../assets/MenuPrincipal/PortadaCIAD.png"
              max-height="575"
              class="grey darken-4">
        </v-img>
      </v-card>
      <v-container>
        <v-row>
          <v-col>
            <v-sheet min-height="70vh" rounded="lg">
              <router-view/>
            </v-sheet>
          </v-col>
        </v-row>
      </v-container>
      <v-container>
        <v-card elevation="10" shaped>
          <v-card-text>
            <v-row>
              <v-col cols="1">
              </v-col>
              <v-col cols="4">
                <v-img src="../assets/MenuPrincipal/Generalitat4.png"
                  max-width="275" max-height="275">
                </v-img>
              </v-col>
              <v-col cols="3">
                <v-img src="../assets/MenuPrincipal/musol.jpg"
                max-width="175">
                </v-img>
              </v-col>
              <v-col cols="1">
              </v-col>
              <v-col cols="2">
                <v-img src="../assets/SER mejorado.jpg"
                max-width="200"
                max-height="200">
                </v-img>
              </v-col>
              <v-col cols="1">
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-text>
            <div class="text-center">
              Proyecto: SOLPCD/2019/0007
            </div>
            <div class="text-center">
               Gobernabilidad del agua en la cuenca alta del Río Samalá con la participación de la sociedad civil y los gobiernos municipales, con enfoque de género y respeto a la diversidad cultural.
            </div>
            <div class="text-center">
              Este centro de documentación ha sido realizado con el apoyo financiero de la Generalitat Valenciana. Su contenido es responsabilidad exclusiva de Servicios para el Desarrollo y no refleja necesariamente la opinión de la Generalitat Valenciana".
            </div>      
          </v-card-text>
        </v-card>
      </v-container>
      <v-footer>
            <v-row padless>
                <v-col cols="12">
                    <v-card color="black">
                        <v-row>
                            <v-col cols="5">
                                <div class="white--text text-center">
                                    SER
                                </div>
                                <div class="white--text text-center">
                                    Servicios para el Desarrollo
                                </div>
                            </v-col>
                            <v-col cols="2">
                                <v-btn class="mx-2" large href="https://www.facebook.com/Servicios-para-el-Desarrollo-914011825439098" icon color="white">
                                    <v-icon>mdi-facebook</v-icon>
                                </v-btn>
                            </v-col>
                            <v-col cols="5">
                                <div class="white--text text-center">
                                    Oficina
                                </div>
                                <div class="white--text text-center">
                                    <v-icon color="white">
                                        mdi-sign-direction
                                    </v-icon>
                                    7ma calle 29-64 zona 7, Quetzaltenango
                                </div>
                                <div class="white--text text-center">
                                    <v-icon color="white">
                                        mdi-phone
                                    </v-icon>
                                    Telefono: 7767-7106
                                </div>
                                <div class="white--text text-center">
                                    <v-icon color="white">
                                        mdi-email-newsletter
                                    </v-icon>
                                     serxela1@gmail.com
                                </div>
                                
                                
                            </v-col>
                        </v-row>
                        
                    </v-card>

                </v-col>
                
            </v-row>
        </v-footer>

    </v-main>
  </v-app>
  
</template>

<script>
  import HelloWorld from '../components/HelloWorld'
  import AppBarPrincipal from '../components/AppBarPrincipal.vue'
  import BibliotecaPrincipal from '../components/BibliotecaPrincipal.vue'
  import PortalUsuarios from '../components/CIAD/PortalUsuarios.vue'
  export default {
    name: 'CIAD',
    data: () => ({
      drawer: null,
      group: null,
      items: [
          { title: 'Libros', icon: 'mdi-view-dashboard', route:'busqueda'},
          { title: 'Categorias', icon: 'mdi-clipboard-text-outline', route:'tematica' },
          { title: 'Descargas', icon: 'mdi-cloud-download', route: 'downloads' },
          { title: 'Usuarios', icon: 'mdi-account', route: 'usuarios'},
        ],
    }),
    components: {
      HelloWorld, AppBarPrincipal, BibliotecaPrincipal, PortalUsuarios
    },
  }
</script>
