<template>
<v-app id="login">
  <v-main>
    <v-container class="section-container" >
      <v-row class="signin">
        <v-col cols="12" md="8" xs="12" class="left">
          <v-img src="../assets/Login/Portada.jpg">
          </v-img>
        </v-col>
        <v-col cols="12" md="4" xs="12" class="right" align-center>
          <v-layout align-center justify-center >
            <v-flex class="login-form">
              <v-card light align-center>
                <v-card-title>
                  <h1> Login </h1>
                </v-card-title>
                <v-card-text>
                  <v-form>
                    <v-container fluid>
                      <v-text-field v-model='user.email' light prepend-icon='mdi-email' label="Correo electronico" type='email'>
                      </v-text-field>
                      <v-text-field v-model='user.password' :prepend-icon="show ? 'mdi-eye' : 'mdi-eye-off'" 
                      :type="show ? 'text' : 'password'" label="Contraseña" hint="At least 8 characters"
                      counter @click:prepend="show = !show">
                      </v-text-field>
                      <v-btn rounded block color="primary" dark @click="login()">
                        Iniciar Sesión
                      </v-btn>
                    </v-container>
                    <v-breadcrumbs large align-end> Olvide mi contraseña </v-breadcrumbs>
                  </v-form>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-col>
      </v-row>
      
    </v-container>
  </v-main>
  <v-snackbar v-model="msg.status" :color="msg.color">
      {{msg.text}}
    </v-snackbar>
</v-app>
</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
      show: false,
      user: {
        email: '',
        password: ''
      },
      msg: {
        status: false,
        text: '',
        color: ''
      }
    }
  },
  methods: {
    login () {
      const data = {
          identifier: this.user.email,
          password: this.user.password
        }
      this.$http.auth
        .post('/local', data)
        .then(res => res.data)
        .then(res => {
          sessionStorage.setItem('token', res.jwt)
          sessionStorage.setItem('user', res.user)
          this.$router.push({ name: 'Dashboard' })
        })
        .catch(() => {
            this.msg = {
              status: true,
              text: 'Ha ocurrido un error al iniciar sesión, revisa tus datos',
              color: 'error'
            }
            this.btnDisabled = false
          })
    }
  },
  computed: {
      bg () {
        return this.background ? 'https://cdn.vuetifyjs.com/images/backgrounds/bg-2.jpg' : undefined
      },
    },
};
</script>

<style lang="scss" scoped>
.login-form{
  max-width: 500px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-container {
  padding: 20px;
  background: rgb(112, 128, 144);
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 0 1px 1px rgba($color: #000000, $alpha: 0.1);
  box-sizing: border-box;
  display: flex;
  .signin {
    padding: 0;
    max-width: 100%;
    margin: 0 auto;
    min-height: 600px;
    max-height: 100%;
    flex-wrap: wrap;
    box-shadow: 0 0 1px 1px rgba($color: #000000, $alpha: 0.1);
    .left {
      padding: 30px;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      display: flex;
      color: #4b4e4d;
      background-color: #f9f9f9;
    }
    .right {
      justify-content: center;
      align-items: center;
      display: flex;
      box-sizing: border-box;
      background: #494b4a;
      color: #fff;
    }
  }
}
.login {
  padding: 2rem;
}
.title {
  text-align: center;
}
.form {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  min-width: 350px;
  max-width: 100%;
  background: rgba(19, 35, 47, 0.9);
  border-radius: 5px;
  padding: 40px;
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.3);
}
.form-label {
  margin-top: 2rem;
  color: white;
  margin-bottom: 0.5rem;
  &:first-of-type {
    margin-top: 0rem;
  }
}
.form-input {
  padding: 10px 15px;
  background: none;
  background-image: none;
  border: 1px solid white;
  color: white;
  &:focus {
    outline: 0;
    border-color: #1ab188;
  }
}
.form-submit {
  background: #1ab188;
  border: none;
  color: white;
  margin-top: 3rem;
  padding: 1rem 0;
  cursor: pointer;
  transition: background 0.2s;
  &:hover {
    background: #0b9185;
  }
}
</style>