<template>
    <v-app id="ser">
        <v-app-bar app color="primary" hide-on-scroll flat> 
            <v-container class="py-0 fill-height">
                <img src="../assets/LogoSerOficial.png" alt="John">
                <v-btn color="white" v-for="link in links" :key="link" text link :to="link.route">
                    {{ link.title }}
                </v-btn>
            </v-container>
        </v-app-bar>
        <v-main>
            <router-view/>  
            <!-- Provides the application the proper gutter -->
            <v-container fluid>
                <!-- If using vue-router -->
                        
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
export default {
    name: 'HomeSer',
    data () {
        return {
            links: [
                { title: 'Home', route:'/'},
                { title: 'Quienes Somos', route:'ser'},
                { title: 'Biblioteca Virtual',route:'ciad'},
                { title: 'Contacto', route:'/contacto'},
            ],
            icons: [
                'mdi-facebook',
                'mdi-twitter',
                'mdi-linkedin',
                'mdi-instagram',
            ],
        }
    }
}
</script>

<style>

</style>