<template>
    <v-container fluid tag="section">
        <v-row>
            <v-col>
                <v-card class="pa-2" outlined tile>
                    <v-data-table :headers="headers" :items="desserts" sort-by="calories" :search="search" class="elevation-1">
                    <template v-slot:top>
                    <v-toolbar flat>
                        <v-toolbar-title>Temas</v-toolbar-title>
                        <v-divider class="mx-4" inset vertical></v-divider>
                        <v-spacer></v-spacer>
                        <v-text-field class="text-xs-center" v-model="search" append-icon="mdi-magnify" label="Búsqueda" single-line hide-details></v-text-field>
                        <v-spacer></v-spacer>
                        <v-dialog v-model="dialog" max-width="600px">
                            <v-card elevation="10">
                                <v-card-title>
                                <span class="text-h5">{{ formTitle }}</span>
                                </v-card-title>

                                <v-divider></v-divider>
                                <v-card-title>Seleccione una opción para poder realizar la descarga</v-card-title>
                                <v-card-text>
                                    <v-chip-group v-model="selection" active-class="blue darken-4 accent-4 white--text" column>
                                        <v-container fluid>
                                            <v-row>
                                                <v-col cols="12" sm="6" md="6">
                                                    <v-chip>Estudiante</v-chip>
                                                </v-col>
                                                <v-col cols="12" sm="6" md="6">
                                                    <v-chip>Organización</v-chip>
                                                </v-col>                                                
                                            </v-row>
                                            <v-row>
                                                <v-col cols="12" sm="6" md="6">
                                                    <v-chip>Profesional</v-chip>
                                                </v-col>
                                                <v-col cols="12" sm="6" md="6">
                                                    <v-chip>Institución</v-chip>
                                                </v-col>                                                
                                            </v-row>
                                        </v-container>
                                        
                                    </v-chip-group>
                                </v-card-text>

                                <v-card-actions>
                                <v-spacer></v-spacer>
                                    <v-btn color="blue darken-1" text @click="close">
                                        Cancel
                                    </v-btn>
                                    <v-btn color="blue darken-1" text @click="save">
                                        Descargar archivo
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                        <v-dialog v-model="dialogDelete" max-width="500px">
                        <v-card>
                            <v-card-title class="text-h5">Esta seguro de Borrar este item?</v-card-title>
                            <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                            <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                            <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                        </v-dialog>
                    </v-toolbar>
                    </template>
                    <template v-slot:item.actions="{ item }">
                        <v-btn
                            color="blue"
                            class="ma-2 white--text"
                            fab
                            >
                            <v-icon dark @click="downloadItem(item)">
                                mdi-cloud-download-outline
                            </v-icon>
                        </v-btn>
                    </template>
                </v-data-table>

                </v-card>
            </v-col>
        </v-row>

    </v-container>
</template>

<script>
  export default {
    name: 'Books',
    data: () => ({
        selection: 1,
        loader: null,
        loading5: false,
        search:'',
        dialog: false,
        dialogDelete: false,
        headers: [
            {
            text: 'Nombre',
            align: 'start',
            sortable: false,
            value: 'name',
            },
            { text: 'Autor', value: 'autor'},
            { text: 'Categorias', value: 'category'},
            { text: 'Formato', value: 'format'},
            { text: 'Tipo de archivo', value: 'typefile'},
            { text: 'Disponibilidad', value: 'typefile'},            
            { text: 'Actions', value: 'actions', sortable: false },
        ],
        desserts: [],
        editedIndex: -1,
        editedItem: {
            name: '',
            calories: 0,
            fat: 0,
            format: 'Digital',

            protein: 0,
        },
        defaultItem: {
            name: '',
            calories: 0,
            fat: 0,
            carbs: 0,
            protein: 0,
        },
    }),
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Descargar Archivo'
      },
    },
    watch: {
        dialog (val) {
            val || this.close()
        },
        dialogDelete (val) {
            val || this.closeDelete()
        },
    },
    created () {
      this.initialize()
    },
    methods: {
      initialize () {
        this.desserts = [
          {
            name: 'Agua Saneamiento',
            format: 'Digital',
            fat: 6.0,
            carbs: 24,
            protein: 4.0,
          },
          {
            name: 'Agua Pueblos Indigenas',
            format: 'Fisico',
            fat: 9.0,
            carbs: 37,
            protein: 4.3,
          },
          {
            name: 'Valoración Economica del Agua',
            format: 'Ambos',
            fat: 16.0,
            carbs: 23,
            protein: 6.0,
          },
          {
            name: 'Valoración Economica del Agua',
            calories: 262,
            fat: 16.0,
            carbs: 23,
            protein: 6.0,
          },
          {
            name: 'Valoración Economica del Agua',
            calories: 262,
            fat: 16.0,
            carbs: 23,
            protein: 6.0,
          },
          {
            name: 'Valoración Economica del Agua',
            calories: 262,
            fat: 16.0,
            carbs: 23,
            protein: 6.0,
          },
          {
            name: 'Valoración Economica del Agua',
            calories: 262,
            fat: 16.0,
            carbs: 23,
            protein: 6.0,
          },
          {
            name: 'Valoración Economica del Agua',
            calories: 262,
            fat: 16.0,
            carbs: 23,
            protein: 6.0,
          },
          {
            name: 'Valoración Economica del Agua',
            calories: 262,
            fat: 16.0,
            carbs: 23,
            protein: 6.0,
          }
        ]
      },
      downloadItem (item) {
        this.editedIndex = this.desserts.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },
      deleteItem (item) {
        this.editedIndex = this.desserts.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },
      deleteItemConfirm () {
        this.desserts.splice(this.editedIndex, 1)
        this.closeDelete()
      },
      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },
      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },
      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.desserts[this.editedIndex], this.editedItem)
        } else {
          this.desserts.push(this.editedItem)
        }
        this.close()
      },
    },
  }
</script>

<style>
  .custom-loader {
    animation: loader 1s infinite;
    display: flex;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>