<template>
    <v-navigation-drawer
        v-model="dibujar"
        :color="color"
        :expand-on-hover="expandOnHover"
        :mini-variant="miniVariant"
        :right="right"
        :permanent="permanent"
        
        absolute
        dark
        app
        >
        <v-list dense nav class="py-0" >
            <v-list-item two-line :class="miniVariant && 'px-0'">
            <v-list-item-avatar>
                <img src="https://randomuser.me/api/portraits/men/81.jpg">
            </v-list-item-avatar>

            <v-list-item-content>
                <v-list-item-title>Application</v-list-item-title>
                <v-list-item-subtitle>Subtext</v-list-item-subtitle>
            </v-list-item-content>
            </v-list-item>

            <v-divider></v-divider>

            <v-list-item v-for="item in items" :key="item.title" link :to="item.route">
                <v-list-item-icon>
                    <v-icon>{{ item.icon }}</v-icon>
                </v-list-item-icon>

                <v-list-item-content >
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
    </v-navigation-drawer>
</template>
<script>
  export default {
    props: ['dibujar'],
    data () {
      return {
        items: [
          { title: 'Libros', icon: 'mdi-view-dashboard', route:'Books'},
          { title: 'Categorias', icon: 'mdi-clipboard-text-outline', route:'tematica' },
          { title: 'Descargas', icon: 'mdi-cloud-download', route: 'downloads' },
          { title: 'Usuarios', icon: 'mdi-account', route: 'usuarios'},
        ],
        color: 'primary',
        colors: [
          'primary',
          'blue',
          'success',
          'red',
          'teal',
        ],
        right: false,
        permanent: true,
        miniVariant: true,
        expandOnHover: true,
        background: true,
      }
    },
    computed: {

    },
    beforeMount () {
      console.log(this.dibujar)
      console.log("navigation Dradwer")
    }
  }
</script>