<template>
    <v-container>
        <v-card>
            <v-card-title class="primary white--text">
                <v-icon>mdi-plus</v-icon>
                <h1 class="title ml-2">{{getCategoria}}</h1>
            </v-card-title>
                <v-row class="d-flex aling-center justify-center">
                    <v-col cols="12">
                        <p class="font-weight-bold">
                            
                        </p>
                    </v-col>
                </v-row>
                <v-row class="d-flex aling-center justify-center">
                    <v-col cols="12">
                        <p class="font-weight-bold">
                            Para realizar una búsqueda, seleccione alguno de los filtros disponibles, ya sea si solamente selecciona la temática o solamente selecciona la categoría o ambas opciones, luego le da clic en Buscar
                        </p>
                    </v-col>
                </v-row>
            <v-card-text>
                <v-form>
                    <v-container>
                        <v-row>
                            <v-col cols="12" md="5">
                                <v-select v-model="TipoTematica"  :items="tematicas" item-value="id" item-text="Nombre" menu-props="auto" label="Tematica"
                                    hide-details prepend-icon="mdi-form-dropdown" single-line>
                                </v-select>
                            </v-col>
                            <v-col cols="12" md="5">
                                <v-select v-model="TipoArchivo" :items="categoria" menu-props="auto" label="Categoria"
                                    hide-details prepend-icon="mdi-format-list-bulleted-type" single-line>
                                </v-select>
                            </v-col>
                            <v-col cols="12" md="2">
                                <div class="text-center">
                                    <v-btn rounded color="primary" dark ma-2 class="ma-2 white--text" block  @click="buscarPorParametros()">
                                        <v-icon left>mdi-clipboard-text-search</v-icon>
                                            Buscar
                                    </v-btn>
                                </div>                                
                            </v-col>
                        </v-row>
                    </v-container>
                </v-form>
                <v-form>
                    <v-container>
                        <v-row>
                            <v-col cols="12" md="12">
                                <v-simple-table>
                                    <template v-slot:default>
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Autor</th>
                                                <th>Estado</th>
                                                <th>Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(item, index) in books" :key="item.id">
                                                <td>{{item.Nombre}}</td>
                                                <td>{{item.Autor}}</td>
                                                <td>{{item.Estado}}</td>
                                                <td class="min-width-120">
                                                    <v-btn text color="secondary" @click="deleteItem(item.id)">
                                                        <v-icon>mdi-eye-outline</v-icon>
                                                    </v-btn>
                                                    <v-btn text color="error" @click="descargar(item)">
                                                        <v-icon>mdi-arrow-down-bold-circle</v-icon>
                                                    </v-btn>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-form>
            </v-card-text>
        </v-card>

        <!-- ------------------------------------------------------------------- -->
        <!-- Descargar archivo-->
        <!-- ------------------------------------------------------------------- -->
        <v-dialog v-model="showDescargar" max-width="600">
            <formulario-links v-model="descargarBook"
                ref="data" @save="updateDownload()"
                @close="showDescargar = false">
            </formulario-links>
        </v-dialog>
    </v-container>
</template>

<script>
import { mapGetters } from 'vuex'
import { mapMutations } from 'vuex'
import formularioLinks from './FormularioLinks.vue'

export default {
    name: 'enlaces',
    data () {
        return {
            showDescargar: false,
            categoria: ['Libros', 'Revistas', 'Articulos', 'Ponencias', 'Congresos', 'Memorias', 'Tesis', 'Investigaciones', 'Sistematizaciones'],
            tipo: ['Pdf', 'Word', 'Excel', 'Power Point', 'Mp3', 'Mp4', 'Imagen'],
            tematicas: [],
            books: [],
            descargarBook: null,
            TipoArchivo: null,
            TipoTematica: null,
            ayuda:false,
            enlace: 'Enlace'
            
            
        }
    },
    computed: {
        ...mapGetters(['getCategoria'])
    },
    components: {
        formularioLinks
    },
    methods: {
        ...mapMutations(['setCategoria']),
        getTematicas () {
            this.$http.tematicas
                .get('')
                .then(res => res.data)
                .then(res => {
                    this.tematicas = res.map(i => {
                        return { 
                            id: i.id,
                            Nombre: i.Nombre
                        }
                    })
                
            })
        },
        getBooks () {
            this.$http.books
                .get('')
                .then(res => res.data)
                .then(res => {
                    
                    this.books = res.map(i => {
                        return {  
                            Nombre: i.Nombre,
                            Autor: i.Autor,
                            Descripcion: i.Descripcion,
                            Descargas: i.Descargas,
                            Estado: i.Estado,
                            Portada: i.Portada,
                            Archivo: i.Archivo

                        }
                    })
                })
            
        },
        getBookCategoria() {
            this.$http.books
                .get(`?Categoria_eq=${this.getCategoria}`)
                .then(res=> res.data)
                .then(res => {
                    console.log(res)
                    this.books = res.map(i => {
                        return {  
                            Nombre: i.Nombre,
                            Autor: i.Autor,
                            Descripcion: i.Descripcion,
                            Descargas: i.Descargas,
                            Estado: i.Estado,
                            Portada: i.Portada,
                            Archivo: i.Archivo

                        }
                    })
                })
        },
        buscarPorParametros(){
            //Si ayuda es Tru es porque ejecuta una de las 3 condiciones, porque sino elije ninguna opcion ya no es necesario volver a hacer la consulta
            console.log(this.TipoArchivo)
            console.log(this.TipoTematica)
            var consulta = ''
            if ((this.TipoArchivo !== null) && (this.TipoTematica !==null)){
                consulta = `?Registro_contains=Enlace&Categoria_eq=${this.TipoArchivo}&tematica_in=${this.TipoTematica}`
                this.ayuda = true
            }
            if ((this.TipoArchivo !== null) && (this.TipoTematica === null)){
                consulta = `?Registro_contains=Enlace&Categoria_eq=${this.TipoArchivo}`
                this.ayuda = true
            }
            if ((this.TipoArchivo === null) && (this.TipoTematica !==null)){
                consulta = `?Registro_contains=Enlace&tematica_in=${this.TipoTematica}`
                this.ayuda = true
            }
            if ((this.TipoArchivo === null) && (this.TipoTematica ===null)){
                this.getBookCategoria()
                console.log("Mostrar todo")
                this.ayuda = false
            }
            console.log(consulta)
            if (this.ayuda){
                this.$http.books
                .get(`${consulta}`)
                .then(res=> res.data)
                .then(res => {
                    console.log(res)
                    this.books = res.map(i => {
                        return {  
                            Nombre: i.Nombre,
                            Autor: i.Autor,
                            Descripcion: i.Descripcion,
                            Descargas: i.Descargas,
                            Estado: i.Estado,
                            Portada: i.Portada,
                            Archivo: i.Archivo,
                            Link: i.Link

                        }
                    })
                })
            }
                

        },
        updateDownload(){
            this.showDescargar = false
        },
        descargar(item){
            this.descargarBook = item
            console.log(this.descargarBook)
            this.showDescargar = true
        },
        reset () {
            this.$refs['data'].reset()
        }
    },
    beforeMount (){
        this.getTematicas()
        this.setCategoria(this.getCategoria)
        this.getBookCategoria()
    }
}
</script>

<style>

</style>