<template>
    <v-card>
        <v-card-title class="primary white--text">
            <v-icon>mdi-arrow-down-bold-circle</v-icon>
            <h2 class="title ml-2">Ver Enlace</h2>
        </v-card-title>
        <v-card-text>
            <v-row>
                <v-col>
                    <h2 class="title ml-2">Para descargar el archivo llena el siguiente formulario</h2>
                </v-col>
            </v-row>
            <v-form ref="data" v-if="value">
                <v-row>
                    <v-col>
                        <h2 class="title ml-2">La descarga que deseas hacer es a:</h2>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" md="12">
                        <v-radio-group v-model="row" row>
                            <v-radio v-model="TituloPersonalActivado" @click="ocultarInput()" color="info"
                                label="Titulo Personal"
                                value= true
                            ></v-radio>
                            <v-radio @click="showImput()" color="success"
                                label="Pertenezco a una organización"
                                value="Organizacion"
                            ></v-radio>
                        </v-radio-group>
                    </v-col>
                </v-row>
            </v-form>
            <v-form ref="form" v-model="valid" :disabled="showForm">
                <v-text-field v-model="entrada" light prepend-icon='mdi-home-city-outline' 
                    label="Nombre de la organización" required
                    :rules="nameRules" :counter="25">
                </v-text-field>
            </v-form>
        </v-card-text>
        <v-card-actions>
            <v-btn color="error" @click="$emit('close')">
                <v-icon left>mdi-times</v-icon>
                Cerrar
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn :disabled="showButton" color="primary" @click="validate">
                <v-icon left>mdi-arrow-down-bold-circle</v-icon>
                    VER LINK
            </v-btn>
        </v-card-actions>
        <v-card-text>
            {{enlace}} 

        </v-card-text>  
    </v-card>
</template>

<script>
import axios from 'axios'
import dayjs from 'dayjs'
export default {
    props: ['value'],
    data () {
        return {
            enlace: '',
            TituloPersonalActivado: false,
            valid: true,
            row: null,
            showForm:true,
            showButton:true,
            entrada: '',
            nameRules: [
                v => !!v || 'Nombre de la organizacion es requerido',
                v => (v && v.length >= 2) || 'El nombre debe tener mas de 2 caracteres',
            ],
            newDescargases: {
                Nombre: '',
                Tipo: '',
                Archivo: '',
                Fecha: null

            }
        }
    },
    methods: {
        showImput() {
            this.showForm= false
            this.TituloPersonalActivado = false
            this.showButton = false
            this.reset()
        },
        ocultarInput() {
            this.showForm= true
            this.showButton = false
            this.TituloPersonalActivado = true
        },
        validate () {
            this.enlace=this.value.Link
            if (!this.TituloPersonalActivado){
                this.$refs.form.validate()
                const file = this.value.Archivo[0]
                if (this.$refs.form.validate()){
                    const host = process.env.VUE_APP_API
                    axios({
                        url: `${host}${file.url}`,
                        method: 'GET',
                        responseType: 'blob',
                    }).then((response) => {
                        console.log(response)
                        const filename = file.name
                        console.log('')
                        var fileURL = window.URL.createObjectURL(new Blob([response.data]));
                        var fURL = document.createElement('a');
        
                        fURL.href = fileURL;
                        fURL.setAttribute('download', filename);
                        document.body.appendChild(fURL);
        
                        fURL.click();
                    });
                    /*
                    var element = document.createElement('a');
                    element.setAttribute(this.value.Archivo[0].url,'data:text/plain;charset=utf-8, ' + encodeURIComponent("textInput"));
                    element.setAttribute('download', this.value.Archivo[0].name);
                    document.body.appendChild(element);
                    element.click();
                    */
                   this.newDescargases.Nombre = this.entrada
                   this.newDescargases.Tipo = "Organización"
                   this.newDescargases.Archivo = this.value.Nombre
                   this.newDescargases.Fecha = dayjs().format('YYYY-MM-DDTHH:mm');
                   
                } 
                /*
                    let a = document.createElement('a')
                    a.href = this.value.Archivo[0].url
                    a.download = this.value.Archivo[0].url.split('/').pop()
                    document.body.appendChild(a)
                    a.click()
                    document.body.removeChild(a)
                    */

            }
            else{
                this.newDescargases.Nombre = "Persona"
                this.newDescargases.Tipo = "Titulo Personal"
                this.newDescargases.Archivo = this.value.Nombre
                this.newDescargases.Fecha = dayjs().format('YYYY-MM-DDTHH:mm');
            }
            this.saveForm()
            
            
        },
        saveForm () {
            this.$http.descargases
                .post('', this.newDescargases)
                .then(() => {
                })
        },
        reset () {
            this.$refs.form.reset()
        },
        resetValidation () {
            this.$refs.form.resetValidation()
        },
        
    },
    beforeMount (){
        this.showForm = true
        this.showButton =true
    }

}
</script>

<style>

</style>