<template>
    <v-card>
        <v-card-title class="primary white--text">
            <v-icon color="white">mdi-arrow-down-bold-circle</v-icon>
            <h2 class="title ml-2">Descargar Archivo</h2>
        </v-card-title>
        <v-card-text>
            <v-row>
                <v-col>
                    <h2 class="title ml-2">Para descargar el archivo llena el siguiente formulario</h2>
                </v-col>
            </v-row>
            <v-form ref="data" v-if="value">
                <v-row>
                    <v-col>
                        <h2 class="title ml-2">La descarga que deseas hacer es a:</h2>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" md="12">
                        <v-radio-group v-model="row" row>
                            <v-radio v-model="TituloPersonalActivado" @change="ocultarInput()" color="info"
                                label="Titulo Personal"
                                
                            ></v-radio>
                            <v-radio @change="showImput()" color="success"
                                label="Pertenezco a una organización"
                                value="Organizacion"
                            ></v-radio>
                        </v-radio-group>
                    </v-col>
                </v-row>
            </v-form>
            <v-form ref="form" v-model="valid" :disabled="showForm">
                <v-text-field v-model="entrada" light prepend-icon='mdi-home-city-outline' 
                    label="Nombre de la organización" required
                    :rules="nameRules" :counter="25">
                </v-text-field>
            </v-form>
        </v-card-text>
        <v-card-actions>
            <v-btn color="error" @click="$emit('close')">
                <v-icon left>mdi-times</v-icon>
                Cerrar
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn :disabled="showButton" color="primary" @click="validate">
                <v-icon left>mdi-arrow-down-bold-circle</v-icon>
                    Descargar
            </v-btn>
        </v-card-actions> 
        <v-snackbar
        v-model="snackbar"
        >
        {{ text }}

            <template v-slot:action="{ attrs }">
                <v-btn
                color="pink"
                text
                v-bind="attrs"
                @click="snackbar = false"
                >
                Close
                </v-btn>
            </template>
        </v-snackbar> 
    </v-card>
</template>

<script>
import axios from 'axios'
import dayjs from 'dayjs'
export default {
    props: ['value'],
    data () {
        return {
            snackbar: false,
            text: `Ingrese el nombre de la organización`,
            TituloPersonalActivado: true,
            valid: true,
            row: null,
            showForm:true,
            showButton:true,
            entrada: '',
            nameRules: [
                v => !!v || 'Nombre de la organizacion es requerido',
                v => (v && v.length >= 2) || 'El nombre debe tener mas de 2 caracteres',
            ],
            newDescargases: {
                Nombre: '',
                Tipo: '',
                Archivo: '',
                Fecha: null

            }
        }
    },
    methods: {
        showImput() {
            this.showForm= false
            this.TituloPersonalActivado = false
            this.showButton = false
        },
        ocultarInput() {
            this.showForm= true
            this.showButton = false
            this.TituloPersonalActivado = true
        },
        descargarArchivo() {
            const file = this.value.Archivo[0]
            const host = process.env.VUE_APP_API
                axios({
                    url: `${host}${file.url}`,
                    method: 'GET',
                    responseType: 'blob',
                }).then((response) => {
                    const filename = file.name
                    var fileURL = window.URL.createObjectURL(new Blob([response.data]));
                    var fURL = document.createElement('a');
    
                    fURL.href = fileURL;
                    fURL.setAttribute('download', filename);
                    document.body.appendChild(fURL);
    
                    fURL.click();
                });
        },
        validate () {
            if (!this.TituloPersonalActivado){
                if(this.$refs.form.validate() === false){
                    this.snackbar = true
                }
                else{
                    this.newDescargases.Nombre = this.entrada
                    this.newDescargases.Tipo = "Organización"
                    this.newDescargases.Archivo = this.value.Nombre
                    this.newDescargases.Fecha = dayjs().format('YYYY-MM-DDTHH:mm');
                    this.saveForm()
                    this.descargarArchivo()
                    this.$emit('save')   
                }
            }
            else{
                this.newDescargases.Nombre = "Persona"
                this.newDescargases.Tipo = "Titulo Personal"
                this.newDescargases.Archivo = this.value.Nombre
                this.newDescargases.Fecha = dayjs().format('YYYY-MM-DDTHH:mm');
                this.saveForm()
                this.descargarArchivo()
                this.$emit('save')
            }
            
            
        },
        saveForm () {
            this.$http.descargases
                .post('', this.newDescargases)
                .then(() => {
                })
        },
        reset () {
            this.$refs.form.reset()
        },
        resetValidation () {
            this.$refs.form.resetValidation()
        },
        
    },
    beforeMount (){
    },
    watch: {
        showForm () {
            if(this.showForm) {
                this.showButton = true
            }
            else {
                this.showButton = false
            }
        },
        TituloPersonalActivado () {
            console.log(this.TituloPersonalActivado)

        }
    }
}
</script>

<style>

</style>