<template>
    <v-container>
        <v-card>
            <v-card-title class="primary white--text">
                <v-icon>mdi-plus</v-icon>
                <h1 class="title ml-2">{{getCategoria}}</h1>
            </v-card-title>
            <v-card-text>
                <v-form>
                    <v-container>
                        <v-row>
                            <v-col cols="12" md="4">
                                <v-select v-model="TipoTematica"  :items="tematicas" item-value="id" item-text="Nombre" menu-props="auto" label="Tematica"
                                    hide-details prepend-icon="mdi-form-dropdown" single-line>
                                </v-select>
                            </v-col>
                            <v-col cols="12" md="4">
                                <v-select v-model="TipoArchivo" :items="tipo" menu-props="auto" label="Tipo de Archivo"
                                    hide-details prepend-icon="mdi-format-list-bulleted-type" single-line>
                                </v-select>
                            </v-col>
                            <v-col cols="12" md="2">
                                <div class="text-center">
                                    <v-btn rounded color="primary" dark ma-2 class="ma-2 white--text" block  @click="buscarPorParametros()">
                                        <v-icon left>mdi-clipboard-text-search</v-icon>
                                            Buscar
                                    </v-btn>
                                </div>                                
                            </v-col>
                             <v-col cols="12" md="2" sm="12">
                                <div class="text-center">
                                    <v-btn rounded color="primary" dark ma-2 class="ma-2 white--text" block  @click="resetear()">
                                        <v-icon left>mdi-clipboard-text-search</v-icon>
                                            Reiniciar Filtro
                                    </v-btn>
                                </div>                                
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" md="4" sm="12">
                            </v-col>
                            <v-col cols="12" md="4" sm="12">
                                <v-btn-toggle rounded>
                                    <v-btn color="error" @click="prev()">
                                        <v-icon left>fas fa-arrow-left</v-icon>
                                        Anterior
                                    </v-btn>
                                    <v-btn color="primary" @click="next()">
                                        Siguiente
                                        <v-icon right>fas fa-arrow-right</v-icon>
                                    </v-btn>
                                </v-btn-toggle>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-form>
                <v-form>
                    <v-container>
                        <v-row>
                            <v-col cols="12" md="12">
                                <v-simple-table>
                                    <template v-slot:default>
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Autor</th>
                                                <th>Estado</th>
                                                <th>Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(item, index) in books" :key="item.id">
                                                <td>{{item.Nombre}}</td>
                                                <td>{{item.Autor}}</td>
                                                <td>{{item.Estado}}</td>
                                                <td class="min-width-120">
                                                    <v-btn text color="secondary" @click="verItem(item)">
                                                        <v-icon>mdi-eye-outline</v-icon>
                                                    </v-btn>
                                                    <v-btn text color="error" @click="descargar(item)">
                                                        <v-icon>mdi-arrow-down-bold-circle</v-icon>
                                                    </v-btn>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-form>
            </v-card-text>
        </v-card>

        <!-- ------------------------------------------------------------------- -->
        <!-- Descargar archivo-->
        <!-- ------------------------------------------------------------------- -->
        <v-dialog v-model="showDescargar" max-width="600">
            <formulario-descarga v-model="descargarBook"
                ref="data" @save="updateDownload()"
                @close="showDescargar = false">
            </formulario-descarga>
        </v-dialog>

        <!-- ------------------------------------------------------------------- -->
        <!-- Informacion archivo-->
        <!-- ------------------------------------------------------------------- -->
        <v-dialog v-model="showArchivo" max-width="600">
            <formulario-archivo v-model="descargarBook" ref="data" 
                @close="showArchivo = false">
            </formulario-archivo>
        </v-dialog>
    </v-container>
</template>

<script>
import { mapGetters } from 'vuex'
import { mapMutations } from 'vuex'
import formularioDescarga from './FormularioDescarga.vue'
import formularioArchivo from './VerArchivo.vue'

export default {
    name: 'PortalBusqueda',
    data () {
        return {
            showDescargar: false,
            showArchivo: false,
            categoria: '',
            tipo: ['Pdf', 'Word', 'Excel', 'Power Point', 'Mp3', 'Mp4', 'Imagen'],
            tematicas: [],
            books: [],
            descargarBook: null,
            TipoArchivo: null,
            TipoTematica: null,
            ayuda:false,
            pagina: 0,
            busquedaActiva: 0
            
        }
    },
    computed: {
        ...mapGetters(['getCategoria'])
    },
    components: {
        formularioDescarga, formularioArchivo
    },
    methods: {
        ...mapMutations(['setCategoria']),
        getTematicas () {
            this.$http.tematicas
                .get('')
                .then(res => res.data)
                .then(res => {
                    this.tematicas = res.map(i => {
                        return { 
                            id: i.id,
                            Nombre: i.Nombre
                        }
                    })
                
            })
        },
        getBooks () {
            this.$http.books
                .get('')
                .then(res => res.data)
                .then(res => {
                    
                    this.books = res.map(i => {
                        return {  
                            Nombre: i.Nombre,
                            Autor: i.Autor,
                            Descripcion: i.Descripcion,
                            Descargas: i.Descargas,
                            Estado: i.Estado,
                            Portada: i.Portada,
                            Archivo: i.Archivo

                        }
                    })
                })
            
        },
        getBookCategoria() {
            this.$http.books
                .get(`?Categoria_eq=${this.getCategoria}`)
                .then(res=> res.data)
                .then(res => {
                    console.log(res)
                    this.books = res.map(i => {
                        return {  
                            Nombre: i.Nombre,
                            Autor: i.Autor,
                            Descripcion: i.Descripcion,
                            Descargas: i.Descargas,
                            Estado: i.Estado,
                            Portada: i.Portada,
                            Archivo: i.Archivo

                        }
                    })
                })
        },
        buscarPorParametros(){
            //Si ayuda es Tru es porque ejecuta una de las 3 condiciones, porque sino elije ninguna opcion ya no es necesario volver a hacer la consulta
            var consulta = ''
            var NumeroDeBusqueda
            if ((this.TipoArchivo !== null) && (this.TipoTematica !==null)){
                NumeroDeBusqueda = 1
                //validacion que la pagina continue en el mismo rango
                if (this.busquedaActiva !== NumeroDeBusqueda){
                    this.busquedaActiva = NumeroDeBusqueda
                    this.pagina = 0
                }
                consulta = `?Categoria_eq=${this.getCategoria}&Tipo_eq=${this.TipoArchivo}&tematica_in=${this.TipoTematica}&_limit=10&_start=${this.pagina * 10}`
                this.ayuda = true
                
            }
            if ((this.TipoArchivo !== null) && (this.TipoTematica === null)){
                if (this.busquedaActiva !== NumeroDeBusqueda){
                    this.busquedaActiva = NumeroDeBusqueda
                    this.pagina = 0
                }
                NumeroDeBusqueda = 2
                consulta = `?Categoria_eq=${this.getCategoria}&Tipo_eq=${this.TipoArchivo}&_limit=10&_start=${this.pagina * 10}`
                this.ayuda = true
                
            }
            if ((this.TipoArchivo === null) && (this.TipoTematica !==null)){
                NumeroDeBusqueda = 3
                consulta = `?Categoria_eq=${this.getCategoria}&tematica_in=${this.TipoTematica}&_limit=10&_start=${this.pagina * 10}`
                this.ayuda = true
                
            }
            if ((this.TipoArchivo === null) && (this.TipoTematica ===null)){
                NumeroDeBusqueda = 0
                consulta = `?Categoria_eq=${this.getCategoria}&_limit=10&_start=${this.pagina * 10}`
                this.ayuda = true
                
            }
            console.log(consulta)
            if (this.ayuda){
                this.$http.books
                .get(`${consulta}`)
                .then(res=> res.data)
                .then(res => {
                    const host = process.env.VUE_APP_API
                    console.log(res)
                    this.books = res.map(i => {
                        return {  
                            Nombre: i.Nombre,
                            Autor: i.Autor,
                            Descripcion: i.Descripcion,
                            Descargas: i.Descargas,
                            Estado: i.Estado,
                            Portada: i.Portada,
                            Archivo: i.Archivo,
                            Registro: i.Registro,
                            url: `${host}${i.Portada}`
                        }
                    })
                    console.log(this.books)
                })
            }
                

        },
        updateDownload(){
            this.showDescargar = false
        },
        descargar(item){
            this.descargarBook = item
            this.showDescargar = true
        },
        verItem (item) {
            this.descargarBook = item
            this.showArchivo = true

        },
        reset () {
            this.$refs['data'].reset()
        },
        //Sirve para resetear el filtro de busquedas y mande a llamar toda la categoria seleccionada
        resetear() {            
            this.pagina = 0
            if ((this.TipoArchivo !== null) || (this.TipoTematica !== null)) {
                this.TipoArchivo = null
                this.TipoTematica = null
                this.pagina = 0
                this.buscarPorParametros()
            }                       
        },
        next () {
            console.log(this.books)
            console.log(this.books.length)
            if (this.books.length) {
                this.pagina = this.pagina + 1
            }
        },
        prev () {
            if (this.pagina > 0) {
                this.pagina = this.pagina - 1
            }
        },

    },
    beforeMount (){
        this.getTematicas()
        this.setCategoria(this.getCategoria)
        this.buscarPorParametros()
    },
    watch: {
        pagina () {
            this.buscarPorParametros()
        }
    }
}
</script>

<style>

</style>