<template>
    <v-container>
        <v-card elevation="10" shaped>
            <v-card-title>
                CIAD
            </v-card-title>
            <v-card-subtitle>
                El Centro de Información Activa para el Desarrollo
            </v-card-subtitle>
            <v-card-text >
                Encargada de la gestion de la biblioteca
            </v-card-text>
        </v-card>
        <v-spacer></v-spacer>        
        <v-row dense>
            <v-col cols="12" md="4" xs="12">
                <v-card>
                    <v-img src="../../assets/MenuPrincipal/LIBROS-min.png"
                        max-height="400">
                    </v-img>
                    <v-card-actions>
                        <v-spacer></v-spacer>  
                        <v-btn @click="buscarlibros()" outlined block rounded color="primary">
                            Buscar
                             <v-icon>mdi-folder-search-outline</v-icon>
                        </v-btn>
                    </v-card-actions>
                </v-card>                
            </v-col>
            <v-col cols="12" md="4" xs="12">
                <v-card>
                    <v-img  src="../../assets/MenuPrincipal/REVISTAS-min.png">
                    </v-img>
                    <v-card-actions>
                        <v-spacer></v-spacer>  
                        <v-btn @click="buscarRevistas()" outlined block rounded color="primary"   >
                            Buscar
                            <v-icon>mdi-folder-search-outline</v-icon>
                        </v-btn>
                    </v-card-actions>
                </v-card>                
            </v-col>
            <v-col cols="12" md="4" xs="12">
                <v-card>
                    <v-img src="../../assets/MenuPrincipal/ARTiCULOS.png">
                    </v-img>
                    <v-card-actions>
                        <v-spacer></v-spacer>  
                        <v-btn @click="buscarArticulos()" outlined block rounded color="primary"  >
                            Buscar
                            <v-icon>mdi-folder-search-outline</v-icon>
                        </v-btn>
                    </v-card-actions>
                </v-card>                
            </v-col>
        </v-row>
        <v-row dense>
            <v-col cols="12" md="4" xs="12">
                <v-card>
                    <v-img class="white--text align-end" src="../../assets/MenuPrincipal/PONENCIAS-min.png">
                    </v-img    >
                    <v-card-actions>
                        <v-spacer></v-spacer>  
                        <v-btn @click="buscarPonencias()" outlined block rounded color="primary"  >
                            Buscar
                            <v-icon>mdi-folder-search-outline</v-icon>
                        </v-btn>
                    </v-card-actions>
                </v-card>                
            </v-col>
            <v-col cols="12" md="4" xs="12">
                <v-card>
                    <v-img  class="black--text align-end" src="../../assets/MenuPrincipal/Congresos1.png">
                    </v-img>
                    <v-card-actions>
                        <v-spacer></v-spacer>  
                        <v-btn @click="buscarCongresos()" outlined block rounded color="primary" >
                            Buscar
                            <v-icon>mdi-folder-search-outline</v-icon>
                        </v-btn>
                    </v-card-actions>
                </v-card>                
            </v-col>
            <v-col cols="12" md="4" xs="12">
                <v-card>
                    <v-img class="white--text" src="../../assets/MenuPrincipal/MEMORIAS-min.png">
                    </v-img>
                    <v-card-actions>
                        <v-spacer></v-spacer>  
                        <v-btn @click="buscarMemorias()" outlined block rounded color="primary" >
                            Buscar
                            <v-icon>mdi-folder-search-outline</v-icon>
                        </v-btn>
                    </v-card-actions>
                </v-card>                
            </v-col>
        </v-row>
        <v-row dense>
            <v-col cols="12" md="4" xs="12">
                <v-card>
                    <v-img class="white--text align-end" src="../../assets/MenuPrincipal/TESIS-min.png">
                    </v-img>
                    <v-card-actions>
                        <v-spacer></v-spacer>  
                        <v-btn @click="buscarTesis()" outlined block rounded color="primary">
                            Buscar
                            <v-icon>mdi-folder-search-outline</v-icon>
                        </v-btn>
                    </v-card-actions>
                </v-card>                
            </v-col>
            <v-col cols="12" md="4" xs="12">
                <v-card>
                    <v-img class="white--text align-end" src="../../assets/MenuPrincipal/Investigaciones1.png">                        
                    </v-img>
                    <v-card-actions>
                        <v-spacer></v-spacer>  
                        <v-btn @click="buscarInvestigaciones()" outlined block rounded color="primary" >
                            Buscar
                            <v-icon>mdi-folder-search-outline</v-icon>
                        </v-btn>
                    </v-card-actions>
                </v-card>                
            </v-col>
            <v-col cols="12" md="4" xs="12">
                <v-card>
                    <v-img class="white--text align-end" src="../../assets/MenuPrincipal/SISTEMATIZACIONES-min.png">
                    </v-img>
                        <v-spacer></v-spacer>  
                        <v-btn @click="buscarSistematizaciones()" outlined block rounded color="primary">
                            Buscar
                            <v-icon>mdi-folder-search-outline</v-icon>
                        </v-btn>
                    </v-card-actions>
                </v-card>                
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12" md="12" xs="12">
                <v-card>
                    <v-img class="white--text align-end" src="../../assets/MenuPrincipal/Enlace.png">
                    </v-img>
                    <v-card-title>Enlaces</v-card-title>
                    <v-card-text>
                        <div>
                            Disponemos de enlaces hacia otros sitios de internet para que pueda descargar algun libro
                        </div>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>  
                        <v-btn @click="buscarEnlaces()" outlined block rounded color="primary">
                            Buscar
                            <v-icon>mdi-folder-search-outline</v-icon>
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>   
    </v-container>
</template>
<script>

import { mapMutations } from 'vuex'
import PortalBusqueda from './PortalBusquedas.vue'
export default ({
    name: 'PortalUsuarios',
    components: {
        PortalBusqueda
    },
    data () {
        return {
            items: [
                {route:'portal'}
            ]
        }
    },
    methods: {
        ...mapMutations(['setCategoria']),
        buscarlibros(){
            this.setCategoria('Libros')
            this.$router.push('busqueda')
        },
        buscarRevistas(){
            this.setCategoria('Revistas')
            this.$router.push('busqueda')
        },
        buscarArticulos(){
            this.setCategoria('Articulos')
            this.$router.push('busqueda')
        },
        buscarPonencias(){
            this.setCategoria('Ponencias')
            this.$router.push('busqueda')
        },
        buscarCongresos(){
            this.setCategoria('Congresos')
            this.$router.push('busqueda')
        },
        buscarMemorias(){
            this.setCategoria('Memorias')
            this.$router.push('busqueda')
        },
        buscarTesis(){
            this.setCategoria('Tesis')
            this.$router.push('busqueda')
        },
        buscarInvestigaciones(){
            this.setCategoria('Investigaciones')
            this.$router.push('busqueda')
            
        },
        buscarSistematizaciones(){
            this.setCategoria('Sistematizaciones')
            this.$router.push('busqueda')
        },
        buscarEnlaces(){
            this.setCategoria('Enlaces Web')
            this.$router.push('enlaces')
        },
    }
})
</script>
