<template>
  <v-card>
        <v-card-title class="primary white--text">
            <v-icon color="white ">mdi-arrow-down-bold-circle</v-icon>
            <h2 class="title ml-2">Archivo</h2>
        </v-card-title>
        <v-img height="250" :src="url"
        ></v-img>    
        <v-card-text>
            <v-card>
                <v-card-title>
                    <h2 class="title ml-2">{{value.Nombre}}</h2>                    
                </v-card-title>
                <v-card-subtitle>
                    <h3 class="title ml-2">{{value.Autor}}</h3>
                </v-card-subtitle>
                <v-card-text>
                    {{value.Descripcion}}
                </v-card-text>
                <v-divider></v-divider>
                <v-card-text>
                    <v-card outlined shaped>
                            <v-card-title>
                                Disponible en:
                            </v-card-title>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="4">
                                        <v-checkbox v-model="value.Registro" color="success"
                                        label="Fisico"
                                        value="Fisico"
                                        disabled
                                        >
                                        <span>Disponible en nuestras oficinas</span></v-checkbox>
                                    </v-col>
                                    <v-col cols="4">
                                        <v-checkbox v-model="value.Registro" color="orange"
                                        label="Digital"
                                        value="Digital"
                                        disabled
                                        ></v-checkbox>
                                    </v-col>
                                    <v-col cols="4">
                                        <v-checkbox v-model="value.Registro" color="red darken-3"
                                        label="Enlace URL"
                                        value="Enlace"
                                        disabled
                                        ></v-checkbox>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-card>
                </v-card-text>
            </v-card>
        </v-card-text>
        <v-card-actions>
            <v-btn block color="error" @click="$emit('close')">
                <v-icon left>mdi-times</v-icon>
                Cerrar
            </v-btn>
        </v-card-actions>
  </v-card>
</template>

<script>
export default {
    props: ['value'],
    data () {
        return {
            url: ''
        }
    },
    beforeMount () {
        const host = process.env.VUE_APP_API
        this.url = `${host}${this.value.Portada[0].url}`
    },
    watch: {
        value () {
            const host = process.env.VUE_APP_API
            this.url = `${host}${this.value.Portada[0].url}`
        }
    }

}
</script>

<style>

</style>