<template>
    <v-card>
        <v-card-title class="primary white--text">
            <v-icon>{{icon}}</v-icon>
            <h2 class="title ml-2">{{title}}</h2>
        </v-card-title>
        <v-card-text>
            <v-form ref="data" v-if="value">
                <v-text-field v-model="value.Nombre" label="Nombre">
                </v-text-field>
            </v-form>
        </v-card-text>
        <v-card-actions>
            <v-btn color="error" @click="$emit('close')">
                <v-icon left>mdi-times</v-icon>
                Cerrar
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="save()">
                <v-icon left>mdi-save</v-icon>
                Guardar
            </v-btn>
        </v-card-actions>        
    </v-card>
</template>
<script>


export default ({
    name: 'EditTematica',
    props: ['icon', 'title', 'value'],
    methods: {
        save () {
            this.$emit('save')
        },
        reset () {
            this.$refs['data'].reset()
        }
    }
})
</script>
