<template>
    <v-container>
        <v-card>
            <v-card-title class="primary white--text">
                <v-icon>mdi-plus</v-icon>
                <h1 class="title ml-2">Tematicas</h1>
            </v-card-title>
            <v-card-text>
                <v-row>
                    <v-col>
                        <v-btn color="primary" @click="showNew = true">
                            <v-icon left>mdi-plus</v-icon>
                            Agregar
                        </v-btn>
                    </v-col>
                </v-row>
                <v-simple-table>
                    <template v-slot:default>
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in tematicas" :key="item.id">
                                <td>{{item.Nombre}}</td>
                                <td class="min-width-120">
                                    <v-btn text color="secondary" @click="editItem(item)">
                                        <v-icon>mdi-pencil</v-icon>
                                    </v-btn>
                                    <v-btn text color="error" @click="deleteItem(item.id)">
                                        <v-icon>mdi-delete</v-icon>
                                    </v-btn>
                                </td>
                            </tr>
                        </tbody>
                    </template>
                </v-simple-table>
            </v-card-text>
        </v-card>
    <!-- ------------------------------------------------------------------- -->
    <!-- New Tematica -->
    <!-- ------------------------------------------------------------------- -->
    <v-dialog v-model="showNew" max-width="500" transition="dialog-top-transition">
        <edit-tematica title="Agregar Tematica" icon="mdi-plus" v-model="newTematica"
            @close="showNew = false"
            ref="newTematica"
            @save="saveTematica()">
        </edit-tematica>
    </v-dialog>

    <!-- ------------------------------------------------------------------- -->
    <!-- Editar Tematica -->
    <!-- ------------------------------------------------------------------- -->
    <v-dialog v-model="showEdit" max-width="500" transition="dialog-top-transition">
        <edit-tematica title="Editar Tematica" icon="mdi-file-document-edit-outline" v-model="editTematica"
            @close="showEdit = false"
            ref="newTematica"
            @save="updateTematica()">
        </edit-tematica>
    </v-dialog>



    </v-container>
</template>
<script>

import EditTematica from './EditTematica.vue'
export default ({
    name: 'Tematica',
    data () {
        return {
            tematicas: [],
            showNew: false,
            showEdit: false,
            newTematica: {
                Nombre: ''
            },
            editTematica: null,
        }  
    },
    components: {
      EditTematica
    },
    methods: {
        getTematicas () {
            this.$http.tematicas
                .get('')
                .then(res => res.data)
                .then(res => {
                    console.log(res)
                    this.tematicas = res.map(i => {
                        return { 
                            id: i.id,
                            Nombre: i.Nombre
                        }
                    })
                })
        },
        saveTematica () {
            this.$http.tematicas
            .post('', this.newTematica)
            .then(() => {
                this.$refs['newTematica'].reset()
                this.getTematicas()
                this.showNew = false
            })
        },
        updateTematica() {
            this.$http.tematicas
                .put(`/${this.editTematica.id}`, this.editTematica)
                .then(() => {
                    this.getTematicas()
                    this.showEdit = false
                })

        },
        editItem(tematica){
            this.editTematica = tematica
            this.showEdit = true

        },
        deleteItem(id) {
            if (window.confirm('¿Estas seguro de borrar el registro?')) {
                this.$http.tematicas
                    .delete(`/${id}`)
                    .then(() => {
                        this.getTematicas()
                    })
            }

        }
    },
    beforeMount (){
        

    },
    mounted (){
        this.getTematicas();
    }
})
</script>
