<template>
    <v-container>
        <v-card>
            <v-card-title class="primary white--text">
                <v-icon color="white">mdi-arrow-down-bold-circle-outline</v-icon>
                <h1 class="title ml-2">Archivos</h1>
            </v-card-title>
            <v-card-text>
                <v-form>
                    <v-container>
                        <v-row>
                        </v-row>
                        <v-row>
                            <v-col cols="12" md="4">
                                <v-text-field v-model="fechaInicial" label="Fecha Inicial" type="datetime-local" /> 
                            </v-col>
                            <v-col cols="12" md="4">
                                <v-text-field v-model="fechaFinal" label="Fecha Final" type="datetime-local" @click="valores()"/> 
                            </v-col>
                            <v-col cols="12" md="2">
                                <v-select v-model="valorTipo" :items="tipo" menu-props="auto" label="Tipo de Descarga"
                                    hide-details prepend-icon="mdi-format-list-bulleted-type" single-line>
                                </v-select>
                            </v-col>
                            <v-col cols="12" md="2">
                                <v-btn rounded color="primary" dark ma-2 class="ma-2 white--text" block  @click="buscarPorTipo()">
                                    <v-icon left>mdi-clipboard-text-search</v-icon>
                                        Buscar
                                </v-btn>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-form>
                <v-form>
                    <v-container>
                        <v-row>
                            <v-col cols="12" md="12">
                                


                                <v-row>
                                    <v-col cols="12" md="12">
                                        <v-btn-toggle rounded>
                                        <v-btn @click="prev()">
                                            <v-icon left>fas fa-arrow-left</v-icon>
                                            Anterior
                                        </v-btn>
                                        <v-btn @click="next()">
                                            Siguiente
                                            <v-icon right>fas fa-arrow-right</v-icon>
                                        </v-btn>
                                        </v-btn-toggle>
                                    </v-col>
                                </v-row>
                                <v-simple-table>
                                    <template v-slot:default>
                                        <thead>
                                            <tr>
                                                <th>Tipo</th>
                                                <th>Nombre</th>
                                                <th>Archivo</th>
                                                <th>Fecha</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(item, index) in descargas" :key="item.id">
                                                <td>{{item.Tipo}}</td>
                                                <td>{{item.Nombre}}</td>
                                                <td>{{item.Archivo}}</td>
                                                <td>{{item.Fecha}}</td>
                                            </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-form>
            </v-card-text>
        </v-card>
         <v-snackbar
            v-model="snackbar"
            :multi-line="multiLine"
            >
            {{ text }}

            <template v-slot:action="{ attrs }">
                <v-btn
                color="red"
                text
                v-bind="attrs"
                @click="snackbar = false"
                >
                Close
                </v-btn>
            </template>
        </v-snackbar>
    </v-container>
</template>

<script>
export default {
    name : 'Descargas',
    data (){
        return {
            valorTipo: null,
            tipo: ['Todas','Titulo Personal', 'Organización'],
            descargas: [],
            fechaInicial: null,
            fechaFinal: null,
            multiLine: true,
            snackbar: false,
            text: `Seleccione las fechas`,
            pagina: 0
        }
    },
    methods: {
        getDescargas () {
            this.$http.descargases
                .get(`?_limit=10&_sort=fecha:DESC&_start=${this.pagina * 10}`)
                .then(res => res.data)
                .then(res => {
                    this.descargas = res.map(i => {
                        return { ...i}
                    })
                })
        },
        valores() {
        },
        buscarPorTipo() {
            if ((this.fechaInicial===null) || (this.fechaFinal===null) || (this.valorTipo===null)){
                this.snackbar = true
            }
            else {
                var consulta = ''
                if (this.valorTipo === 'Todas') {
                    consulta = `?created_at_gte=${this.fechaInicial}&created_at_lte=${this.fechaFinal}&_limit=10&_start=${this.pagina * 10}`
                }
                else {
                    consulta = `?created_at_gte=${this.fechaInicial}&created_at_lte=${this.fechaFinal}&Tipo_eq=${this.valorTipo}&_limit=10&_start=${this.pagina * 10}`
                }
                
                this.$http.descargases
                    .get(`${consulta}`)
                    .then(res => res.data)
                    .then(res => {
                        this.descargas = res.map(i => {
                            return { ...i}
                        })
                    })
            }
        },
        next () {
            if (this.descargas.length) {
                this.pagina = this.pagina + 1
            }
        },
        prev () {
            if (this.pagina > 0) {
                this.pagina = this.pagina - 1
            }
        }
    },
    beforeMount (){
        this.getDescargas()
    },
    watch: {
        pagina () {
            this.getDescargas()
        }
    }
}
</script>

<style>

</style>