<template>
  <v-container fluid>
    <v-row dense>
      <v-col cols="12">
        <v-card elevation="17 " color="white"> 
          <v-card-title class="blue--text text-h2 ">
            CONTACTO
          </v-card-title>
          
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" md="5" xs="12">
                  <v-card elevation="10">
                    <v-card-title class="primary white--text">
                        <v-icon>mdi-plus</v-icon>
                        <h1 class="title ml-2">INFORMACIÓN</h1>
                    </v-card-title>
                    <v-card-text>
                      <v-list dense>
                        <v-list-item-group color="blue">
                          <v-list-item>
                            <v-list-item-icon>
                              <v-icon left>
                                mdi-sign-direction 
                              </v-icon>
                            </v-list-item-icon>
                            <v-list-item-content>
                              <v-list-item-title> Dirección: 7ma calle 29-64 zona 7, Quetzaltenango</v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>
                          <v-list-item>
                            <v-list-item-icon>
                              <v-icon left>
                                mdi-phone
                              </v-icon>
                            </v-list-item-icon>
                            <v-list-item-content>
                              <v-list-item-title> Telefono: 7767-7106</v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>
                          <v-list-item>
                            <v-list-item-icon>
                              <v-icon left>
                                mdi-email-newsletter
                              </v-icon>
                            </v-list-item-icon>
                            <v-list-item-content>
                              <v-list-item-title> Correo Electronico: serxela1@gmail.com</v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>
                          <v-list-item href="https://www.facebook.com/Servicios-para-el-Desarrollo-914011825439098">
                            <v-list-item-icon>
                              <v-icon left>
                                mdi-facebook 
                              </v-icon>
                            </v-list-item-icon>
                            <v-list-item-content>
                              <v-list-item-title> Facebook serxela1@gmail.com</v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>
                        </v-list-item-group>
                      </v-list>
                    </v-card-text>
                  </v-card>
                </v-col>
                <v-col cols="12" md="6" xs="12">
                  <v-card elevation="17">
                    <v-card-title class="primary white--text">
                        <v-icon>mdi-plus</v-icon>
                        <h1 class="title ml-2">MENSAJE</h1>
                    </v-card-title>
                    <v-card-text>
                      <v-text-field color="cyan" prepend-icon='mdi-account' label="Nombre" :rules="rules" hide-details="auto">
                      </v-text-field>
                      <v-text-field color="cyan" light prepend-icon='mdi-email' :rules="rules" label="Correo electronico" type='email' :error-messages="emailErrors"> 
                      </v-text-field>
                      <v-text-field color="cyan" prepend-icon='mdi-message-draw' label="Asunto" :rules="rules" hide-details="auto">
                      </v-text-field>
                      <v-textarea label="Mensaje" prepend-icon='mdi-message-reply-text' background-color="grey lighten-2"
                        color="cyan">

                      </v-textarea>
                    </v-card-text>
                    <v-card-actions>
                      <v-btn text color="cyan" outlined>
                        
                        ENVIAR
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-footer app>
            <v-row padless>
                <v-col cols="12">
                    <v-card color="black">
                        <v-row>
                            <v-col cols="5">
                                <div class="white--text text-center">
                                    SER
                                </div>
                                <div class="white--text text-center">
                                    Servicios para el Desarrollo
                                </div>
                            </v-col>
                            <v-col cols="2">
                                <v-btn class="mx-2" large href="https://www.facebook.com/Servicios-para-el-Desarrollo-914011825439098" icon color="white">
                                    <v-icon>mdi-facebook</v-icon>
                                </v-btn>
                            </v-col>
                            <v-col cols="5">
                                <div class="white--text text-center">
                                    Oficina
                                </div>
                                <div class="white--text text-center">
                                    <v-icon color="white">
                                        mdi-sign-direction
                                    </v-icon>
                                    7ma calle 29-64 zona 7, Quetzaltenango
                                </div>
                                <div class="white--text text-center">
                                    <v-icon color="white">
                                        mdi-phone
                                    </v-icon>
                                    Telefono: 7767-7106
                                </div>
                                <div class="white--text text-center">
                                    <v-icon color="white">
                                        mdi-email-newsletter
                                    </v-icon>
                                     serxela1@gmail.com
                                </div>
                                
                                
                            </v-col>
                        </v-row>
                        
                    </v-card>

                </v-col>
                
            </v-row>
        </v-footer>
  </v-container>
</template>

<script>
export default {
    name: 'contacto',
    data () {
      return {
         rules: [
            value => !!value || 'Requerido.',
            value => (value && value.length >= 3) || 'Min 3 characters',
          ],
      }
    }
}
</script>