<template>
  <v-container fluid>
    <v-carousel fluid
        cycle
        height="800"
        hide-delimiter-background
        show-arrows-on-hover
      >
      <v-carousel-item
        v-for="(item, i) in items"
        :key="i"
        :src="item.src"
      >
        <v-row
          class="fill-height"
          align="center"
          justify="center"
        >
          <div class="text-h2">

          </div>
        </v-row>
      </v-carousel-item>
    </v-carousel>
    <v-sheet color="primary" class="white--text text-center mx-auto">
      <h2>Visita nuestro Centro de Información Activa para el Desarrollo -CIAD-
        <v-btn fab link to="/ciad">
          <v-icon>mdi-map-search</v-icon>
        </v-btn>
      </h2>
      
    </v-sheet>
    <v-sheet class="text-center mx-auto" elevation="11" color="white">
      <h1>Nuestro Trabajo</h1>
          <v-divider inset></v-divider>
                
      <v-slide-group v-model="model" class="pa-4" show-arrows>
        <v-slide-item v-for="card in cards" :key="card.title" v-slot="{ active, toggle }">
          <v-card class="ma-4 white--text"
            height="400"
            width="400"
            @click="toggle">
            <v-img
                :src="card.src"
                class="white--text align-end"
                gradient="to bottom, rgba(0,0,0,.5), rgba(0,0,0,.5)"
                height="400px"
                @click="valor(card.descripcion)"
              >
              <div class="fill-height bottom-gradient"></div>
              <v-card-subtitle class="text-h5 white--text" v-text="card.title">
                
              </v-card-subtitle>
            </v-img>
          </v-card>
        </v-slide-item>
        

      </v-slide-group>

      <v-expand-transition>
        <v-sheet
          v-if="model != null"
          height="200"
          tile
          color="light-blue darken-4"
        >
          <v-row
            class="fill-height"
            align="center"
            justify="center"
          >
            <v-col cols="12" md="10" xs="12" >
              <h3 class="text-h6 white--text">
                {{ descripcion }}
              </h3>
            </v-col>
          </v-row>
        </v-sheet>
      </v-expand-transition>

    </v-sheet>
    <v-footer padless>
            <v-row padless>
                <v-col cols="12">
                    <v-card color="black">
                        <v-row>
                            <v-col cols="5">
                                <div class="white--text text-center">
                                    SER
                                </div>
                                <div class="white--text text-center">
                                    Servicios para el Desarrollo
                                </div>
                            </v-col>
                            <v-col cols="2">
                                <v-btn class="mx-2" large href="https://www.facebook.com/Servicios-para-el-Desarrollo-914011825439098" icon color="white">
                                    <v-icon>mdi-facebook</v-icon>
                                </v-btn>
                            </v-col>
                            <v-col cols="5">
                                <div class="white--text text-center">
                                    Oficina
                                </div>
                                <div class="white--text text-center">
                                    <v-icon color="white">
                                        mdi-sign-direction
                                    </v-icon>
                                    7ma calle 29-64 zona 7, Quetzaltenango
                                </div>
                                <div class="white--text text-center">
                                    <v-icon color="white">
                                        mdi-phone
                                    </v-icon>
                                    Telefono: 7767-7106
                                </div>
                                <div class="white--text text-center">
                                    <v-icon color="white">
                                        mdi-email-newsletter
                                    </v-icon>
                                     serxela1@gmail.com
                                </div>
                                
                                
                            </v-col>
                        </v-row>
                        
                    </v-card>

                </v-col>
                
            </v-row>
        </v-footer>
  </v-container>
  
  
</template>

<script>
export default {
    name: 'portada',
    data () {
      return {
        items: [
          {
            src: require('../../assets/PaginaPrincipal/LogoSerMejorado.png'),
          },
          {
            src: require('../../assets/PaginaPrincipal/01.jpg'),
          },
          {
            src: require('../../assets/PaginaPrincipal/02.jpg'),
          },
          {
            src: require('../../assets/PaginaPrincipal/06.jpg'),
          },
          {
            src: require('../../assets/PaginaPrincipal/08.jpg'),
          },
          {
            src: require('../../assets/PaginaPrincipal/05.jpg'),
          },
          {
            src: require('../../assets/PaginaPrincipal/4.jpg'),
          },
          {
            src: require('../../assets/PaginaPrincipal/7.jpg'),
          },
          {
            src: require('../../assets/PaginaPrincipal/8.jpg'),
          },
        ],
        cards: [
          { title: 'CIAD', src: 'https://cdn.vuetifyjs.com/images/cards/house.jpg', flex: 12 ,
            descripcion: 'El Centro de Información Activa para el Desarrollo es un espacio que recupera, registra, comparte y promueve el uso de la información relacionada con el derecho humano al agua y saneamiento. Cuyo fin es poder enriquecer los conocimientos y con ello generar discusión, análisis y propuestas desde las distintas perspectivas en torno al agua.'},
          { title: 'Abastecimiento de agua y saneamiento básico', src: require('../../assets/PaginaPrincipal/agua.jpg'), flex: 6 ,
            descripcion: 'A través de ello se garantizan los servicios de agua potable para consumo humano y saneamiento básico respondiendo a las necesidades de los habitantes de poblaciones rurales y urbanas, empleando tecnologías apropiadas a las mismas.'},
          { title: 'Promoción y Fortalecimiento de gestión municipal y saneamiento', src: require('../../assets/PaginaPrincipal/municipal.jpg'), flex: 6 ,
            descripcion: 'Contribuye a que el gobierno central, el gobierno regional, sus instituciones, y, especialmente el gobierno municipal, asuman sus responsabilidades y compromisos en la gestión del recurso hídrico, posibilitando el acceso al agua de la población, constituyéndose en rectores y reguladores de los sistemas de agua'},
          { title: 'Fortalecimiento de capacidades de la gestión comunitaria del agua y saneamiento', src: require('../../assets/PaginaPrincipal/comunitaria.jpg'), flex: 6 ,
            descripcion: 'Impulsa la gestión adecuada de los sistemas de abastecimiento de agua y saneamiento en comunidades rurales y urbanas, fortaleciendo sus capacidades técnicas, políticas, organizativas y administrativas, con enfoque de género.'},
          { title: 'Investigación y sistematización de experiencias', src: require('../../assets/PaginaPrincipal/investigacion.jpg'), flex: 6 ,
            descripcion: 'Contribuye al conocimiento y entendimiento de los diversos problemas y experiencias entorno al abasto de agua, saneamiento y gestión del recurso hídrico, promoviendo el análisis y debate para la definición de alternativas de solución.'},
          { title: 'Gestión integrada del recurso hídrico', src: require('../../assets/PaginaPrincipal/gestion.jpg'), flex: 6, 
            descripcion: 'Contribuye al desarrollar enfoques, métodos y técnicas que propicien en comunitarios, autoridades e instituciones, la gestión integral del agua, en su uso, manejo y conservación, en la búsqueda de la sostenibilidad ambiental y la mejora de su conservación, con enfoque de cuenca'},
          { title: 'Incidencia Política en Agua y Saneamiento', src: require('../../assets/PaginaPrincipal/politica.jpg'), flex: 6,
            descripcion: 'Se promueven y acompañan procesos, a través de los cuales la población civil organizada, pueda influir en los actores políticos que toman las decisiones públicas, como son las autoridades gubernamentales a distinto nivel (central, departamental y Municipal), para que participen en la definición de políticas en torno a la gestión del agua, a través de la elaboración y presentación de propuestas acordes a las necesidades e intereses de la población usuaria de los sistemas de agua y saneamiento.'}
            ],
        model: null,
        descripcion: '',
      }
    },
    methods: {
      valor (dato) {
        this.descripcion = dato
      }
    }
}
</script>

<style>

</style>