<template>
  <v-container>
      <v-card elevation="17">
        <p class="text-h3 text-center">
            SOMOS SER
        </p>
        <p class="text-h5 text-center">
            Servicios para el Desarrollo
        </p>
        <v-card-text>
            <v-container>
                <v-row>
                    <v-col cols="12" md="4" xs="12">
                        <v-card elevation="17" class="mx-auto">
                            <v-parallax height="400" class="white--text "
                            src="../../assets/Quienes/vision.png">
                            
                            </v-parallax>
                            <v-card-title>
                                <p class="text-h4 text--primary">
                                    Visión
                                </p>
                            </v-card-title>
                            <v-card-text class="text--primary">
                                <div>
                                    Que las comunidades rurales y urbanas de municipios en situación de pobreza, mejoren sus condiciones de salud, a través del acceso al servicio de agua y saneamiento básico, de manera equitativa, permanente, potable y a precio justo, asumiendo sus derechos y obligaciones en la gestión del agua, contando con capacidades locales y organizaciones fortalecidas de hombres y mujeres, con la rectoría de los gobiernos municipales.
                                </div>

                            </v-card-text>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="4" xs="12">
                        <v-card elevation="17" class="mx-auto">
                            <v-parallax height="400" class="white--text "
                            src="../../assets/Quienes/mision.jpg"
                            >
                            </v-parallax>
                            <v-card-title>
                                <p class="text-h4 text--primary">
                                    Misión
                                </p>
                            </v-card-title>
                            <v-card-text class="text--primary">
                                <div>
                                    Como institución de desarrollo, promover la gestión comunitaria y municipal del agua y el saneamiento básico en beneficio de las comunidades menos favorecidas en el occidente de Guatemala, contando con un equipo multidisciplinario comprometido con procesos efectivos e integrales de gestión del agua y saneamiento desde la perspectiva de cuenca, con el concurso de los vecinos y autoridades locales y nacionales e institucionales y el apoyo técnico y financiero de la cooperación internacional solidaria
                                </div>

                            </v-card-text>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="4" xs="12">
                        <v-card elevation="17" class="mx-auto">
                            <v-parallax height="400" class="white--text "
                            src="../../assets/Quienes/objetivos.png"
                            >
                            </v-parallax>
                            <v-card-title>
                                <p class="text-h4 text--primary">
                                    Objetivos
                                </p>
                            </v-card-title>
                            <v-card-text class="text--primary">
                                <div>
                                    Que las comunidades rurales en condición de pobreza, cuenten con soluciones duraderas, integrales y a costos razonables a su problemática de abastecimiento de agua, salud y de gestión del recurso hídrico, basados en las capacidades organizativas y técnicas de hombres y mujeres y el involucramiento progresivo de las autoridades municipales.
                                </div>
                                <v-divider></v-divider>
                                <div>
                                    Que la Sociedad Civil y el Estado estén conscientes del recurso hídrico como un bien económico, degradable y finito, en consecuencia, definan leyes, políticas, programas y proyectos, así también asignen recursos financieros para las soluciones del abasto de agua y gestión del recurso hídrico.
                                </div>

                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-card-text>
      </v-card>
      <v-footer app>
            <v-row padless>
                <v-col cols="12">
                    <v-card color="black">
                        <v-row>
                            <v-col cols="5">
                                <div class="white--text text-center">
                                    SER
                                </div>
                                <div class="white--text text-center">
                                    Servicios para el Desarrollo
                                </div>
                            </v-col>
                            <v-col cols="2">
                                <v-btn class="mx-2" large href="https://www.facebook.com/Servicios-para-el-Desarrollo-914011825439098" icon color="white">
                                    <v-icon>mdi-facebook</v-icon>
                                </v-btn>
                            </v-col>
                            <v-col cols="5">
                                <div class="white--text text-center">
                                    Oficina
                                </div>
                                <div class="white--text text-center">
                                    <v-icon color="white">
                                        mdi-sign-direction
                                    </v-icon>
                                    7ma calle 29-64 zona 7, Quetzaltenango
                                </div>
                                <div class="white--text text-center">
                                    <v-icon color="white">
                                        mdi-phone
                                    </v-icon>
                                    Telefono: 7767-7106
                                </div>
                                <div class="white--text text-center">
                                    <v-icon color="white">
                                        mdi-email-newsletter
                                    </v-icon>
                                     serxela1@gmail.com
                                </div>
                                
                                
                            </v-col>
                        </v-row>
                        
                    </v-card>

                </v-col>
                
            </v-row>
        </v-footer>
  </v-container>
</template>

<script>
export default {
    name: 'ser'

}
</script>

<style>

</style>