<template>
    <v-card>
        <v-card-title class="primary white--text">
            <v-icon color="white">{{icon}}</v-icon>
            <h2 class="title ml-2">{{title}}</h2>
        </v-card-title>
        <v-card-text>
            <v-form ref="data" v-if="value">
                <v-row>
                    <v-col cols="6">
                        <v-text-field v-model="value.Nombre" light prepend-icon='mdi-book-open-page-variant-outline' label="Nombre">
                        </v-text-field>                        
                    </v-col>
                    <v-col cols="6">
                        <v-text-field v-model="value.Autor" light prepend-icon='mdi-account' label="Autor">
                        </v-text-field>                      
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="6">
                        <v-select v-model="value.Categoria" :items="categoria" menu-props="auto" label="Categoria"
                            hide-details prepend-icon="mdi-file-certificate" single-line>
                        </v-select>
                    </v-col>
                    <v-col cols="6">
                        <v-select v-model="value.tematica" :items="getTematicas" item-value="id" item-text="Nombre" menu-props="auto" label="Tematica"
                            hide-details prepend-icon="mdi-form-dropdown" single-line>
                        </v-select>  
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12">
                        <v-card outlined shaped>
                            <v-card-title>
                                Elija una o varias opciones
                            </v-card-title>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="4">
                                        <v-checkbox v-model="value.Registro" color="success" @change="showFisico()"
                                        label="Fisico"
                                        value="Fisico"
                                        ></v-checkbox>
                                    </v-col>
                                    <v-col cols="4">
                                        <v-checkbox v-model="value.Registro" color="orange"  @change="showDigital()"
                                        label="Digital"
                                        value="Digital"
                                        ></v-checkbox>
                                    </v-col>
                                    <v-col cols="4">
                                        <v-checkbox v-model="value.Registro" color="red darken-3" @change="showLink()"
                                        label="Enlace"
                                        value="Enlace"
                                        ></v-checkbox>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-card>
                    </v-col>                    
                </v-row>
                <v-row>
                    <v-col cols="6">
                        <v-text-field :disabled="disabledFisico" v-model="value.Codigo" light prepend-icon='mdi-barcode' label="Codigo del Libro">
                        </v-text-field>
                    </v-col>
                    <v-col cols="6">
                        <v-text-field :disabled="disabledFisico" v-model="value.CodigoCaja" light prepend-icon='mdi-rename-box' label="Codigo Caja">
                        </v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="6">
                        <v-text-field :disabled="disabledFisico" v-model="value.NoCaja" light prepend-icon='mdi-box' label="No. Caja">
                        </v-text-field>
                    </v-col>
                    <v-col cols="6">
                        <v-select  :disabled="disabledDigital" v-model="value.Tipo" :items="tipo" menu-props="auto" label="Tipo de Archivo"
                            hide-details prepend-icon="mdi-format-list-bulleted-type" single-line>
                        </v-select>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="6" sm="6" md="6">
                        <v-file-input
                            label="Portada"
                            v-model ="value.Portada"
                            filled
                            prepend-icon="mdi-camera"
                        ></v-file-input>
                        
                    </v-col>
                    <v-col cols="6" sm="6" md="6">
                        <v-file-input
                            :disabled="disabledDigital"
                            v-model ="value.Archivo"
                            show-size
                            label="Archivo"
                        ></v-file-input>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="6">
                        <v-text-field v-model="value.Link" :disabled="disabledLink" light prepend-icon='mdi-barcode' label="Link">
                        </v-text-field>
                    </v-col>
                </v-row>
                <v-row v-if="value.Portada" justify="center">
                    <v-card>
                        <v-card-text>
                        <v-img
                            :src="value.img"
                            max-width="300"
                            max-height="200"
                        ></v-img>
                        </v-card-text>
                    </v-card>
                </v-row>
                <v-row>
                    <v-col cols="4" sm="4" md="4">
                        <v-switch  v-model="value.blocked" label="Disponible" color="red" hide-details>
                        </v-switch>
                    </v-col>
                    <v-col cols="8">
                        <v-textarea
                            v-model="value.Descripcion"
                            label="Descripción"
                            auto-grow
                            outlined
                            rows="3"
                            row-height="25"
                            shaped
                            ></v-textarea>
                    </v-col>
                </v-row>
            </v-form>
        </v-card-text>
        <v-card-actions>
            <v-btn color="error" @click="hideModal()">
                <v-icon left>mdi-times</v-icon>
                Cerrar
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="save()">
                <v-icon left>mdi-save</v-icon>
                Guardar
            </v-btn>
        </v-card-actions>        
    </v-card>
</template>
<script>

import {mapGetters} from 'vuex'
export default ({
    name: 'EditUsuarios',
    props: ['icon', 'title', 'value'],
    computed: {
        ...mapGetters(['getTematicas'])
    },
    data () {
        return {
            show: false,
            categoria: ['Libros', 'Revistas', 'Articulos', 'Ponencias', 'Congresos', 'Memorias', 'Tesis', 'Investigaciones', 'Sistematizaciones'],
            tipo: ['Pdf', 'Word', 'Excel', 'Power Point', 'Mp3', 'Mp4', 'Imagen'],
            selected: [],
            disabledFisico: true,
            disabledDigital: true,
            disabledLink: true
        }        
    },
    methods: {
        hideModal() {
            //Antes de montar, se verifica si los checkboks habilitan o desabilitan cada uno de los inputs
            this.disabledFisico= true
            this.disabledDigital=true
            this.disabledLink = true
            //despues de montar, se verifica si los checkboks habilitan o desabilitan cada uno de los inputs
            this.$emit('close');
        },
        save () {
            console.log(this.value)
            if(this.disabledDigital === true){
                this.value.Tipo = ''
                this.value.Archivo = null
            }
            if(this.disabledFisico === true ){
                this.value.Codigo = ''
                this.value.CodigoCaja = ''
                this.value.NoCaja = ''
            }
            if(this.disabledLink === true ) {
                this.value.Link = ''
            }
            this.$emit('save')
        },
        reset () {
            this.$refs['data'].reset()
        },
        showFisico() {
            this.disabledFisico = !this.disabledFisico

        },
        showDigital() {
            this.disabledDigital = !this.disabledDigital

        },
        showLink(){
            this.disabledLink = !this.disabledLink
        },
        iniciar () {
            this.disabledFisico = !this.value.Registro.includes('Fisico')
            this.disabledDigital = !this.value.Registro.includes('Digital')
            this.disabledLink = !this.value.Registro.includes('Enlace')
        }
    },
    beforeCreate () {
        //Antes de montar, se verifica si los checkboks habilitan o desabilitan cada uno de los input
    },

    created () {
        this.iniciar() 
    },
    watch: {
        value () {
            this.disabledFisico = true
            this.disabledDigital = true
            this.disabledLink = true
            this.iniciar()
        }
    }
    /*
    ,
    beforeMount () {
        //Antes de montar, se verifica si los checkboks habilitan o desabilitan cada uno de los inputs
        console.log('valor fisico antes')
        console.log(this.disabledFisico)
        console.log(this.disabledDigital)
        console.log(this.disabledLink)
        this.disabledFisico = !this.value.Registro.includes('Fisico')
        this.disabledDigital = !this.value.Registro.includes('Digital')
        this.disabledLink = !this.value.Registro.includes('Enlace')
        //despues de montar, se verifica si los checkboks habilitan o desabilitan cada uno de los inputs
        console.log('valor fisico antes')
        console.log(this.disabledFisico)
        console.log(this.disabledDigital)
        console.log(this.disabledLink)
       
    },
    mounted (){
    },
    beforeDestroy () {
        //Antes de destruir, se verifica si los checkboks habilitan o desabilitan cada uno de los inputs
        console.log('valor fisico antes')
        console.log(this.disabledFisico)
        console.log(this.disabledDigital)
        console.log(this.disabledLink)
        this.disabledFisico = true
        this.disabledDigital = true
        this.disabledLink = true
        //Despues de destruir, se verifica si los checkboks habilitan o desabilitan cada uno de los inputs
        console.log('valor fisico antes')
        console.log(this.disabledFisico)
        console.log(this.disabledDigital)
        console.log(this.disabledLink)
    }
    */
})
</script>
