<template>
    <v-container>
        <v-card>
            <v-card-title class="primary white--text">
                <v-icon>mdi-plus</v-icon>
                <h1 class="title ml-2">Archivos</h1>
            </v-card-title>
            <v-card-text>
                <v-expand-x-transition>
                    <v-card v-show="expand2"
                    class="mx-auto" 
                    >
                        <v-form>
                            <v-container>
                                <v-row>
                                    <v-col cols="12" md="3" sm="12">
                                        <v-select v-model="TipoTematica"  :items="tematicas" item-value="id" item-text="Nombre" menu-props="auto" label="Tematica"
                                            hide-details prepend-icon="mdi-form-dropdown" single-line>
                                        </v-select>
                                    </v-col>
                                    <v-col cols="12" md="3" sm="12">
                                        <v-select v-model="TipoArchivo" :items="tipo" menu-props="auto" label="Tipo de Archivo"
                                            hide-details prepend-icon="mdi-format-list-bulleted-type" single-line>
                                        </v-select>
                                    </v-col>
                                    <v-col cols="12" md="3" sm="12">
                                        <v-select v-model="TipoCategoria" :items="categoria" menu-props="auto" label="Categoria"
                                            hide-details prepend-icon="mdi-file-certificate" single-line>
                                        </v-select>
                                    </v-col>
                                    <v-col cols="12" md="1" sm="12">
                                        <div class="text-center">
                                            <v-btn rounded color="primary" dark ma-2 class="ma-2 white--text" block  @click="buscarPorParametros()">
                                                <v-icon left>mdi-clipboard-text-search</v-icon>
                                                    Buscar
                                            </v-btn>
                                        </div>                                
                                    </v-col>
                                    <v-col cols="12" md="2" sm="12">
                                        <div class="text-center">
                                            <v-btn rounded color="primary" dark ma-2 class="ma-2 white--text" block  @click="resetear()">
                                                <v-icon left>mdi-clipboard-text-search</v-icon>
                                                    Resetear Filtro
                                            </v-btn>
                                        </div>                                
                                    </v-col>
                                </v-row>
                                <v-row>
                                    
                                </v-row>
                            </v-container>
                        </v-form>

                    </v-card>
                </v-expand-x-transition>
                <v-row>
                    <v-col cols="12" md="4" sm="12" >
                        <v-btn color="primary" @click="showNew = true">
                            <v-icon left>mdi-plus</v-icon>
                            Agregar
                        </v-btn>
                        <v-btn color="success" @click="expand2 = !expand2">
                            <v-icon left>mdi-plus</v-icon>
                            Filtrar
                        </v-btn>
                    </v-col>
                    <v-col cols="12" md="4" sm="12">
                        <v-btn-toggle rounded>
                            <v-btn color="error" @click="prev()">
                                <v-icon left>fas fa-arrow-left</v-icon>
                                Anterior
                            </v-btn>
                            <v-btn color="primary" @click="next()">
                                Siguiente
                                <v-icon right>fas fa-arrow-right</v-icon>
                            </v-btn>
                        </v-btn-toggle>
                    </v-col>
                </v-row>
                <v-simple-table>
                    <template v-slot:default>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Autor</th>
                                <th>Codigo</th>
                                <th>Temática</th>
                                <th>Tipo</th>
                                <th>Categoria</th>
                                <th>Formato</th>                                
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in books" :key="item.id">
                                <td>{{item.id}}</td>
                                <td>{{item.Nombre}}</td>
                                <td>{{item.Autor}}</td>
                                <td>{{item.Codigo}}</td>
                                <td>{{}}</td>
                                <td>{{item.Tipo}}</td>
                                <td>{{item.Categoria}}</td>
                                <td>{{item.Registro}}</td>
                                
                                <td class="min-width-120">
                                    <v-btn text color="secondary" @click="editItem(item)">
                                        <v-icon>mdi-pencil</v-icon>
                                    </v-btn>
                                    <v-btn text color="error" @click="deleteItem(item.id)">
                                        <v-icon>mdi-delete</v-icon>
                                    </v-btn>
                                </td>
                            </tr>
                        </tbody>
                    </template>
                </v-simple-table>
            </v-card-text>
        </v-card>
        <!-- ------------------------------------------------------------------- -->
        <!-- New Book -->
        <!-- ------------------------------------------------------------------- -->
        <v-dialog v-model="showNew" max-width="800" transition="dialog-top-transition">
            <edit-books title="Agregar Libro" icon="mdi-plus" v-model="newBook"
                @close="showNew = false"
                ref="newBook"
                @save="saveBook()">>
            </edit-books>
        </v-dialog>


        <!-- ------------------------------------------------------------------- -->
        <!-- Edit Libro -->
        <!-- ------------------------------------------------------------------- -->
        <v-dialog v-model="showEdit" max-width="600">
            <edit-books
                icon="mdi-book-edit-outline"
                title="Modificar Libro"
                v-model="editLibro"
                @close="showEdit = false"
                @save="updateLibro()"
            ></edit-books>
        </v-dialog>

    <!-- ------------------------------------------------------------------- -->
    <!-- Loader -->
    <!-- ------------------------------------------------------------------- -->
    <loader v-model="loading"></loader>

        </v-container>
</template>
<script>
import Loader from '../Loader.vue'
import editBooks from './EditBooks.vue'
import { mapMutations } from 'vuex'

export default ({
    name: 'Books',
    data () {
        return {
            expand2: false,
            tematicas: [],
            showNew: false,
            showEdit: false,
            books: [],
            newBook: {
                Archivo: null,
                Autor: '',
                Categoria: '',
                Codigo: '',
                CodigoCaja: '',
                Descripcion: '',
                Estado: '',
                NoCaja: '',
                Nombre: '',
                Portada: null,
                Tipo: '',
                tematica: null,
                Link: '',
                Registro: [],

            },
            editLibro: null,
            loading: false,
            TipoTematica: null,
            TipoArchivo: null,
            TipoCategoria: null,
            tipo: ['Pdf', 'Word', 'Excel', 'Power Point', 'Mp3', 'Mp4', 'Imagen'],
            tematicas: [],
            categoria: ['Libros', 'Revistas', 'Articulos', 'Ponencias', 'Congresos', 'Memorias', 'Tesis', 'Investigaciones', 'Sistematizaciones'],
            pagina: 0,
            busquedaActiva: false
        }
    },
    components: {
        editBooks, Loader
    },
    methods: {
        ...mapMutations(['setTematica']),
        buscarPorParametros(){
            //Si la busquedaActiva es false es porque hay que reiniciar el contador de la pagina
            if(this.busquedaActiva === false){
                this.pagina = 0
            }
            //Si ayuda es Tru es porque ejecuta una de las 3 condiciones, porque sino elije ninguna opcion ya no es necesario volver a hacer la consulta
            var consulta = ''
            
            if ((this.TipoTematica !== null) && (this.TipoArchivo === null) && (this.TipoCategoria === null)){
                consulta = `?tematica_in=${this.TipoTematica}&_limit=10&_start=${this.pagina * 10}`
                this.ayuda = true
            }
            if ((this.TipoTematica === null) && (this.TipoArchivo !== null) && (this.TipoCategoria === null)){
                consulta = `?Tipo_eq=${this.TipoArchivo}&_limit=10&_start=${this.pagina * 10}`
                this.ayuda = true
            }
            if ((this.TipoTematica === null) && (this.TipoArchivo === null) && (this.TipoCategoria !== null)){
                consulta = `?Categoria_eq=${this.TipoCategoria}&_limit=10&_start=${this.pagina * 10}`
                this.ayuda = true
            }
            /*
            if ((this.TipoArchivo !== null) && (this.TipoTematica !==null)){
                consulta = `?Categoria_eq=${this.categoria}&Tipo_eq=${this.TipoArchivo}&tematica_in=${this.TipoTematica}`
                this.ayuda = true
            }
            if ((this.TipoArchivo !== null) && (this.TipoTematica === null)){
                consulta = `?Categoria_eq=${this.categoria}&Tipo_eq=${this.TipoArchivo}`
                this.ayuda = true
            }
            if ((this.TipoArchivo === null) && (this.TipoTematica !==null)){
                consulta = `?Categoria_eq=${this.categoria}&tematica_in=${this.TipoTematica}`
                this.ayuda = true
            }
            if ((this.TipoArchivo === null) && (this.TipoTematica ===null)){
                this.getBookCategoria()
                console.log("Mostrar todo")
                this.ayuda = false
            }
            */
            if (this.ayuda){
                this.$http.books
                .get(`${consulta}`)
                .then(res=> res.data)
                .then(res => {
                    this.books = res.map(i => {
                        return {  
                            ...i
                        }
                    })
                })
                this.busquedaActiva = true
            }
                

        },
        getTematicas () {
            this.$http.tematicas
                .get('')
                .then(res => res.data)
                .then(res => {
                    this.tematicas = res.map(i => {
                        return { 
                            id: i.id,
                            Nombre: i.Nombre
                        }
                    })
                
            })
        },
        getBooks () {
            //Si la busquedaActiva es distinto de false es porque hay que reiniciar el contador de la pagina
            if(this.busquedaActiva !== false){
                this.pagina = 0
            }
            this.$http.books
                .get(`?_limit=10&_start=${this.pagina * 10}`)
                .then(res => res.data)
                .then(res => {
                    this.books = res.map(i => {
                        return {  ...i                    
                        }
                    })
                    console.log(this.books)
                })
             this.busquedaActiva = false
            
        },
        saveBook () {
            this.loading = true
            console.log(this.newBook)
            if (!this.newBook.Portada) {
                this.$http.books
                .post('', this.newBook)
                .then(() => {
                    this.$refs['newBook'].reset()
                    this.getBooks()
                    this.showNew = false
                    this.loading = false
                    
                })
            } else {
                console.log('Agregando Libro')
                const config = {
                    headers: {
                        'content-type': 'multipart/form-data'
                    }
                }
                const { Portada, Archivo, ...data} = this.newBook
                const formData = new FormData()
                formData.append('data', JSON.stringify(data))
                //Agrego un archivo al formData files.Portada significa "files" es un archivo "Portada" el nombre del campo en la base de datos
                formData.append('files.Portada', Portada, Portada.name)
                //Agreo un archivo al formData files.Archivo significa "files" es un archivo "Archivo" el nombre del campo en la base de datos que pide el post
                formData.append('files.Archivo', Archivo, Archivo.name)
                console.log('formdata creado')
                console.log(formData)
                this.$http.books
                .post('', formData, config)
                .then(() => {
                    this.$refs['newBook'].reset()
                    this.getBooks()
                    this.showNew = false
                    this.loading = false
                    
                })
                console.log(formData)
            }
        },
        updateLibro () {
            this.loading = true
            if((this.editLibro.Portada instanceof File) && (this.editLibro.Archivo instanceof File)) {
                const config = {
                    headers: {
                        'content-type': 'multipart/form-data'
                    }
                }
                const { Portada, Archivo, ...data} = this.editLibro
                const formData = new FormData()
                formData.append('data', JSON.stringify(data))
                //Agrego un archivo al formData files.Portada significa "files" es un archivo "Portada" el nombre del campo en la base de datos
                formData.append('files.Portada', Portada, Portada.name)
                //Agreo un archivo al formData files.Archivo significa "files" es un archivo "Archivo" el nombre del campo en la base de datos que pide el post
                formData.append('files.Archivo', Archivo, Archivo.name)
                this.$http.books
                    .put(`/${this.editLibro.id}`, formData, config)
                    .then(() => {       
                        this.getBooks()
                        this.showEdit = false
                        this.loading = false
                    })
            }
            else {
                this.$http.books
                    .put(`/${this.editLibro.id}`, this.editLibro)
                    .then(() => {
                        this.getBooks()
                        this.showEdit = false
                        this.loading = false
                    })
            }
        },
        editItem(book){
            this.editLibro = book
            this.showEdit = true
        },
        deleteItem (id) {
            if (window.confirm('¿Estas seguro de borrar el registro?')) {
                this.$http.books
                .delete(`/${id}`)
                .then(() => {
                    this.getBooks()
                })
            }
        },
        getTematicas () {
            this.$http.tematicas
                .get('')
                .then(res => res.data)
                .then(res => {
                    this.tematicas = res.map(i => {
                        return { 
                            id: i.id,
                            Nombre: i.Nombre
                        }
                    })
                this.setTematica(this.tematicas)
                
            })
        },
        next () {
            console.log(this.books.length)
            console.log(this.pagina)
            if (this.books.length) {
                this.pagina = this.pagina + 1
                console.log(this.pagina)
            }
        },
        prev () {
            if (this.pagina > 0) {
                this.pagina = this.pagina - 1
            }
        },
        //Sirve para reseterar el filtro de busqueda y mande a llamar a todos los libros
        resetear() {
            if ((this.TipoArchivo !== null) || (this.TipoTematica !== null) || (this.TipoCategoria !== null)) {
                this.getBooks()
            }
            this.TipoArchivo = null
            this.TipoTematica = null
            this.TipoCategoria = null
            this.pagina = 0
            
        }
    },
    beforeMount (){
        this.getTematicas()

    },
    mounted (){
        this.getTematicas();
        this.getBooks();
    },
    watch: {
        pagina () {
            //Si busqueda activa es true es porque se hizo una busqueda por parametro
            if (this.busquedaActiva) {
                this.buscarPorParametros()
                console.log("Log de 2")
            }
            //Si busqueda activa es false es porque se hizo una busqueda general
            else{
                this.getBooks()
                console.log("Log de 2")
                
            }
            
        }
    }
})
</script>
